<div class="filter">
  <div class="fr">

    <div appInputFilterStyle>
      <select id="gateway-geograph-input" class="browser-default" name="geograph" [(ngModel)]="geographId">
        <option value="{{nullVar}}" selected>все (геогр. понятия)</option>
        <option *ngFor="let geograph of geographs" value="{{geograph.id}}">
          {{geograph.code}}
        </option>
      </select>
      <label for="gateway-geograph-input" *ngIf="!(geographId !== nullVar ? geographId : true)">Геогр. понятие</label>
    </div>

    <div appInputFilterStyle>
      <select id="gateway-owner-input" class="browser-default" name="owner" [(ngModel)]="ownerId">
        <option value="{{nullVar}}" selected>все (владельцы)</option>
        <option *ngFor="let owner of ownerGateways" value="{{owner.id}}">
          {{owner.code}}
        </option>
      </select>
      <label for="gateway-owner-input" *ngIf="!(ownerId !== nullVar ? ownerId : true)">Владелец</label>
    </div>

    <div appInputFilterStyle>
      <select id="gateway_type-input" class="browser-default" name="gateway_type" [(ngModel)]="gatewayTypeId">
        <option value="{{nullVar}}" selected>все (типы шлюзов)</option>
        <option *ngFor="let gatewayType of gatewayTypes" value="{{gatewayType.id}}">
          {{gatewayType.code}}
        </option>
      </select>
      <label for="gateway_type-input" *ngIf="!(gatewayTypeId !== nullVar ? gatewayTypeId : true)">Тип</label>
    </div>

    <div>
      <button
        appButtonSimpleStyle
        style="height: 42px"
        (click)="submitFilter()"
        [disabled]="!isValid"
      >Применить
      </button>
    </div>
  </div>

</div>
