<jqxWindow #editWindow
           [theme]="'material'"
           [autoOpen]="false"
           [isModal]="true" [modalOpacity]="0.3"
           [width]="550" [maxWidth]="550" [minWidth]="550"
           [height]="550" [maxHeight]="550" [minHeight]="550"

>
  <div #windowHeader>
    <div class="fr">
      <!--<i class="material-icons">add</i>-->
      <b>Редактировать узел/столб</b>
    </div>
  </div>

  <div>
    <table>
      <tr>
        <td align="right"><b>Географическое понятие:</b></td>
        <td align="left">
          <jqxDropDownList #geographId
                           [theme]="'material'"
                           [width]="330"
                           [height]="20"
                           [source]="dataAdapter_geogr"
                           [displayMember]="'code'"
                           [valueMember]="'id'"
                           [selectedIndex]="geographId_index"
                           [filterable]="true"

          >
          </jqxDropDownList>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Договор:</b></td>
        <td align="left">
          <jqxDropDownList #contractId
                           [theme]="'material'"
                           [width]="330"
                           [height]="20"
                           [source]="dataAdapter_contract"
                           [displayMember]="'code'"
                           [valueMember]="'id'"
                           [selectedIndex]="contractId_index"
                           [filterable]="true"

          >
          </jqxDropDownList>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Тип узла/столба:</b></td>
        <td align="left">
          <jqxDropDownList #nodeTypeId
                           [theme]="'material'"
                           [width]="330"
                           [height]="20"
                           [source]="dataAdapter_nodeType"
                           [displayMember]="'code'"
                           [valueMember]="'id'"
                           [selectedIndex]="nodeTypeId_index"
                           [filterable]="true"

          >
          </jqxDropDownList>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Координата север:</b></td>
        <td align="left">
          <jqxNumberInput
            [theme]="'material'"
            [width]="330" [height]="20"
            [min]="0" [spinButtons]="true"
            [spinMode]="'simple'"
            [digits]="2"
            [decimalDigits]="6"
            [(ngModel)]="saveNode.n_coordinate"
          >
          </jqxNumberInput>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Координата восток:</b></td>
        <td align="left">
          <jqxNumberInput
            [theme]="'material'"
            [width]="330" [height]="20"
            [min]="0" [spinButtons]="true"
            [spinMode]="'simple'"
            [digits]="2"
            [decimalDigits]="6"
            [(ngModel)]="saveNode.e_coordinate"
          >
          </jqxNumberInput>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Серийный номер:</b></td>
        <td align="left">
          <jqxTextArea
            [theme]="'material'"
            [width]="330" [height]="50"
            [(ngModel)]="saveNode.serialNumber"
          >
          </jqxTextArea>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Комментарий:</b></td>
        <td align="left">
          <jqxTextArea
            [theme]="'material'"
            [width]="330" [height]="50"
            [(ngModel)]="saveNode.comment"
          >
          </jqxTextArea>
        </td>
      </tr>

      <tr>
        <td align="right"></td>
        <td style="padding-top: 10px;" align="right">
          <jqxButton #okButton class="ok waves-effect waves-orange white blue-text" style="margin-right: 5px;"
                     [width]="80"
                     (onClick)="saveBtn()"
          >
            Сохранить
          </jqxButton>
          <jqxButton #cancelButton class="cancel waves-effect waves-orange white blue-text" style="margin-right: 5px;"
                     [width]="80"
                     (onClick)="cancelBtn()"
          >
            Отмена
          </jqxButton>
        </td>
      </tr>
    </table>
  </div>

</jqxWindow>
