<div id="node_yamaps"></div>

<app-edit-form #editWindow
               *ngIf="isEditFormVisible"
               [settingWinForEditForm]="settingWinForEditForm"
               [sourceForEditForm]="sourceForEditForm"

               (onGetSourceForEditForm)="getSourceForEditForm()"
               (onSetEditFormVisible)="setEditFormVisible()"
               (onSaveEditwinBtn)="saveEditwinBtn()"
></app-edit-form>

<app-event-window #eventWindow
                  [warning]="warningEventWindow"
                  (onOkEvenwinBtn)="okEvenwinBtn()"
></app-event-window>
