<jqxWindow #linkWindow
           [theme]="sourceForLinkForm.window.theme"
           [autoOpen]="sourceForLinkForm.window.autoOpen"
           [isModal]="sourceForLinkForm.window.isModal"
           [modalOpacity]="sourceForLinkForm.window.modalOpacity"
           [width]="sourceForLinkForm.window.width"
           [maxWidth]="sourceForLinkForm.window.maxWidth"
           [minWidth]="sourceForLinkForm.window.minWidth"
           [height]="sourceForLinkForm.window.height"
           [maxHeight]="sourceForLinkForm.window.maxHeight"
           [minHeight]="sourceForLinkForm.window.minHeight"
           (onClose)="closeDestroy()"
>
  <div>
    <i class="material-icons">file_download</i>
  </div>
  <div>
    <jqxGrid #myGrid
             [theme]="sourceForLinkForm.grid.theme"
             [width]="sourceForLinkForm.grid.width"
             [height]="sourceForLinkForm.grid.height"
             [source]="dataAdapter_jqxgrid"
             [columns]="sourceForLinkForm.grid.columns"
             [columnsresize]="sourceForLinkForm.grid.columnsresize"
             [sortable]="sourceForLinkForm.grid.sortable"
             [filterable]="sourceForLinkForm.grid.filterable"
             [altrows]="sourceForLinkForm.grid.altrows"
             [selectionmode]="sourceForLinkForm.grid.selectionmode"
    >
    </jqxGrid>
    <div class="fr" style="margin: 10px 0px 5px 40%">
      <jqxButton #okButton
                 [theme]="sourceForLinkForm.window.theme"
                 [width]="100"
                 (onClick)="saveBtn()"
      >
        {{'site.forms.editforms.save' | translate}}
      </jqxButton>
      <jqxButton #cancelButton
                 style="margin-left: 5px"
                 [theme]="sourceForLinkForm.window.theme"
                 [width]="100"
                 (onClick)="cancelBtn()"
      >
        {{'site.forms.editforms.cancel' | translate}}
      </jqxButton>
    </div>
  </div>
</jqxWindow>
