<div class="filter">
  <div class="fr">

    <div appComboboxFilter>
      <jqxComboBox
        [theme]="'material'"
        [source]="dataAdapterGeograph_jqx"
        [width]="300" [height]="43"
        [placeHolder]="'Геогр. понятие:'"
        [displayMember]="'code'"
        [valueMember]="'id'"
        (onSelect)="geographOnSelect($event)"
      >
      </jqxComboBox>
    </div>

    <div appComboboxFilter>
      <jqxComboBox
        [theme]="'material'"
        [source]="dataAdapterOwner_jqx"
        [width]="300" [height]="43"
        [placeHolder]="'Владелец:'"
        [displayMember]="'code'"
        [valueMember]="'id'"
        (onSelect)="ownerOnSelect($event)"
      >
      </jqxComboBox>
    </div>

    <div appComboboxFilter>
      <jqxComboBox
        [theme]="'material'"
        [source]="dataAdapterType_jqx"
        [width]="300" [height]="43"
        [placeHolder]="'Тип узла/столба:'"
        [displayMember]="'code'"
        [valueMember]="'id'"
        (onSelect)="typeOnSelect($event)"
      >
      </jqxComboBox>
    </div>

    <div appButtonFilter>
      <jqxButton
        [theme]="'material'"
        [width]="100" [height]="43"
        (click)="submitFilter()"
        [disabled]="!isValid"
      >Применить
      </jqxButton>
    </div>

  </div>

</div>
