<jqxWindow #editWindow
           [theme]="settingWinForEditForm.theme"
           [isModal]="settingWinForEditForm.isModal" [modalOpacity]="settingWinForEditForm.modalOpacity"
           [height]="settingWinForEditForm.height" [maxHeight]="settingWinForEditForm.maxHeight"
           [minHeight]="settingWinForEditForm.minHeight"
           [width]="settingWinForEditForm.width" [maxWidth]="settingWinForEditForm.maxWidth"
           [minWidth]="settingWinForEditForm.minWidth"
           [position]="{ x: settingWinForEditForm.coordX, y: settingWinForEditForm.coordY }"
           (onClose)="closeDestroy()"
>
  <div #windowHeader>
    <i class="material-icons">edit</i>
  </div>
  <div #windowContent>
    <table>
      <app-edit-form-item #editFormItemComponent
                          *ngFor="let itemEditForm of sourceForEditForm" [itemEditForm]="itemEditForm"
      ></app-edit-form-item>
    </table>
    <div class="fr" style="margin: 10px 0px 5px 27%">
      <jqxButton #okButton
                 [theme]="settingWinForEditForm.theme"
                 [width]="100"
                 (onClick)="saveBtn()"
      >
        {{ 'site.forms.editforms.save' | translate }}
      </jqxButton>
      <jqxButton #cancelButton
                 style="margin-left: 5px"
                 [theme]="settingWinForEditForm.theme"
                 [width]="100"
                 (onClick)="cancelBtn()"
      >
        {{ 'site.forms.editforms.cancel' | translate }}
      </jqxButton>
    </div>
  </div>
</jqxWindow>
