<jqxWindow #linkWindow
           [theme]="'material'"
           [autoOpen]="false"
           [isModal]="true" [modalOpacity]="'0.3'"
           [width]="1200" [height]="500"
           [maxHeight]="800" [minHeight]="600" [maxWidth]="1200" [minWidth]="500"

>
  <div #windowHeader>
    <div class="fr">
      <!--<i class="material-icons">add</i>-->
      <b>Выбрать шлюз</b>
    </div>
  </div>

  <div>
    <jqxGrid #myGrid
             [theme]="'material'"
             [width]="1186" [height]="485"
             [source]="dataAdapter_jqxgrid"
             [columns]="columns"
             [columnsresize]="true"

             [sortable]="true"
             [filterable]="true"
             [altrows]="true"
             [selectionmode]="'checkbox'"
    >
    </jqxGrid>

    <div class="fr" style="padding-top: 12px;" align="center">
      <jqxButton #okButton class="ok waves-effect waves-orange white blue-text"
                 [width]="60"
                 (onClick)="saveBtn()"
      >
        Save
      </jqxButton>
      <jqxButton #cancelButton class="cancel waves-effect waves-orange white blue-text" style="margin-left: 5px;"
                 [width]="60"
                 (onClick)="cancelBtn()"
      >
        Cancel
      </jqxButton>
    </div>
  </div>

</jqxWindow>
