<jqxWindow #editWindow
           [theme]="'material'"
           [autoOpen]="false"
           [isModal]="true" [modalOpacity]="0.3"
           [height]="360" [maxHeight]="360" [minHeight]="360"
           [width]="450" [maxWidth]="450" [minWidth]="450"

>
  <div #windowHeader>
    <div class="fr">
      <!--<i class="material-icons">add</i>-->
      <b>Редактировать сенсор</b>
    </div>
  </div>

  <div>
    <table>
      <tr>
        <td align="right"><b>Договор:</b></td>
        <td align="left">
          <jqxDropDownList #contractId
                           [theme]="'material'"
                           [width]="280"
                           [height]="20"
                           [source]="dataAdapter_contract"
                           [displayMember]="'code_contract'"
                           [valueMember]="'id_contract'"
                           [selectedIndex]="contractIdIndex"
                           [filterable]="true"

          >
          </jqxDropDownList>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Тип сенсора:</b></td>
        <td align="left">
          <jqxDropDownList #sensorTypeId
                           [theme]="'material'"
                           [width]="280"
                           [height]="20"
                           [source]="dataAdapter_sensorType"
                           [displayMember]="'code_sensor_type'"
                           [valueMember]="'id_sensor_type'"
                           [selectedIndex]="sensorTypeIdIndex"
                           [filterable]="true"

          >
          </jqxDropDownList>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Серийный номер:</b></td>
        <td align="left">
          <jqxTextArea
            [theme]="'material'"
            [width]="280" [height]="20"
            [(ngModel)]="saveSensor.serial_number"
          >
          </jqxTextArea>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Комментарий:</b></td>
        <td align="left">
          <jqxTextArea
            [theme]="'material'"
            [width]="280" [height]="50"
            [(ngModel)]="saveSensor.comments"
          >
          </jqxTextArea>
        </td>
      </tr>

      <tr>
        <td align="right"></td>
        <td style="padding-top: 10px;" align="right">
          <jqxButton #okButton class="ok waves-effect waves-orange white blue-text" style="margin-right: 5px;"
                     [width]="80"
                     (onClick)="saveBtn()"
          >
            Сохранить
          </jqxButton>
          <jqxButton #cancelButton class="cancel waves-effect waves-orange white blue-text" style="margin-right: 5px;"
                     [width]="80"
                     (onClick)="cancelBtn()"
          >
            Отмена
          </jqxButton>
        </td>
      </tr>
    </table>
  </div>

</jqxWindow>

