/*.not-right {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*}*/

.not-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4, h5 {
  color: red;
}
