<jqxWindow #filtrWindow
           [theme]="sourceForFilter[0].theme"
           [autoOpen]="true"
           [isModal]="false"
           [position]="{ x: getCoordinateX(), y: getCoordinateY() }"
           [width]="400"
           [height]="getHeight()"
           (onClose)="closeDestroy()"
>
  <div>
    <i class="material-icons">filter_list</i>
  </div>
  <div>
    <div *ngIf="filtrWindow.isOpen()">
      <app-filter-item *ngFor="let itemFilter of sourceForFilter"
                       [itemFilter]="itemFilter" #filterItemComponent
      ></app-filter-item>
    </div>
    <jqxButton
      style="margin: 10px 2px 5px 150px"
      [theme]="sourceForFilter[0].theme"
      [width]="100"
      (onClick)="submitFilter()"
    >
      {{'site.forms.editforms.apply' | translate}}
    </jqxButton>
  </div>
</jqxWindow>
