<jqxWindow #filtrWindow
           [theme]="sourceForFilter[0].theme"
           [autoOpen]="false"
           [isModal]="false"
           [position]="{ x: getCoordinateX(), y: getCoordinateY() }"
           [width]="400"
           [height]="getHeight()"
>
  <div>
    <i class="material-icons">filter_list</i>
  </div>
  <div>
    <div *ngIf="filtrWindow.isOpen()">
      <app-filter-item *ngFor="let itemFilter of sourceForFilter"
                       [itemFilter]="itemFilter" #filterItemComponent
      ></app-filter-item>
    </div>
    <div appButtonFilter>
      <jqxButton
        [theme]="sourceForFilter[0].theme"
        [width]="100"
        (click)="submitFilter()"
      >
        {{'site.forms.editforms.apply' | translate}}
      </jqxButton>
    </div>
  </div>
</jqxWindow>
