<!--For Computer-->
<div *ngIf="mobileQuery.matches === false"
     class="example-container"
     [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar appBackgroundLightredDirective class="example-header example-toolbar">
    <mat-toolbar-row>
      <div [hidden]="mobileQuery.matches ? false : false">
        <button mat-icon-button
                appWavesDirective
                appButtonMenuDirective
                (click)="toggle()">
          <mat-icon>{{snav.opened ? 'close' : 'menu'}}</mat-icon>
        </button>
      </div>

      <div class="button-top-menu">
        <a href="http://eireenlight.ru/home"><img class="button-top-menu" src="pictures/eireenlight.jpg"></a>
      </div>

      <div fxShow="true" fxHide.lt-md style="margin-left: 10px">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <button *ngIf="siteMap[0].disabled === false"
                [routerLink]="'/operator/fixture'"
                mat-button
                class="button-top-menu"
                style="width: 200px"
                appWavesDirective
                appButtonMenuDirective
                (mouseup)="chooseNavMenuItem('/operator/fixture')"
        >
          <mat-icon class="routeIcon" style="margin-right: 10px">touch_app</mat-icon>
          {{ 'site.menu.operator.operation' | translate }}
        </button>
        <button *ngIf="siteMap[1].disabled === false"
                [routerLink]="'/dictionary'"
                mat-button
                [matMenuTriggerFor]=dictionarys
                class="button-top-menu"
                style="width: 200px"
                appWavesDirective
                appButtonMenuDirective
                (mouseup)="chooseNavMenuItem('')"
        >
          <mat-icon class="routeIcon" style="margin-right: 10px">import_contacts</mat-icon>
          {{ 'site.menu.dictionarys.dictionarys' | translate }}
        </button>
        <button *ngIf="siteMap[2].disabled === false"
                [routerLink]="'/admin/right'"
                mat-button
                class="button-top-menu"
                style="width: 200px"
                appWavesDirective
                appButtonMenuDirective
                (mouseup)="chooseNavMenuItem('/admin/right')"
        >
          <mat-icon class="routeIcon" style="margin-right: 10px">settings</mat-icon>
          {{ 'site.menu.administration.administration' | translate }}
        </button>
        <!--        [disabled]="siteMap[2].disabled"-->
      </div>

      <mat-menu #dictionarys="matMenu">
        <button *ngIf="siteMap[1].children[0].disabled === false"
                [routerLink]="'/dictionary/equipment'"
                mat-menu-item
                appButtonMenuDirective [theme]="'light'"
                (click)="chooseNavMenuItem('/dictionary/equipment')"
        >
          <mat-icon class="routeIcon" style="margin-right: 10px">build</mat-icon>
          {{ 'site.menu.dictionarys.equipment-page.equipments' | translate }}
        </button>
        <button *ngIf="siteMap[1].children[1].disabled === false"
                [routerLink]="'/dictionary/contragent'"
                mat-menu-item
                appButtonMenuDirective [theme]="'light'"
                (click)="chooseNavMenuItem('/dictionary/contragent')"
        >
          <mat-icon class="routeIcon" style="margin-right: 10px">group</mat-icon>
          {{ 'site.menu.dictionarys.contragent-page.contragents' | translate }}
        </button>
        <button *ngIf="siteMap[1].children[2].disabled === false"
                [routerLink]="'/dictionary/contract'"
                mat-menu-item
                appButtonMenuDirective [theme]="'light'"
                (click)="chooseNavMenuItem('/dictionary/contract')"
        >
          <mat-icon class="routeIcon" style="argin-right: 10px">list_alt</mat-icon>
          {{ 'site.menu.dictionarys.contract-page.contracts' | translate }}
        </button>
      </mat-menu>

      <span class="spacer"></span>
      <span>
        <button mat-button
                appWavesDirective
                appButtonMenuDirective
                appBackgroundLightredDirective
                (click)="switchLanguage()"
        >
          <mat-icon>language</mat-icon>
          {{ language }}
        </button>
      </span>
      <span style="margin-left: 10px">
        <button mat-button
                appWavesDirective
                appButtonMenuDirective
                [matMenuTriggerFor]=useractions
        >
          {{ user.contragentCode }}
        </button>
      </span>
      <mat-menu #useractions="matMenu">
        <div style="margin-left: 15px">
          {{ user.login }}
        </div>
        <button mat-menu-item
                appButtonMenuDirective [theme]="'light'"
                (click)="logout($event)"
        >
          {{ 'site.menu.exit' | translate }}
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
                         (backdropClick)="snav.close()">
    <mat-sidenav #snav
                 [ngStyle]="{ 'width.px': sidenavWidth }"
                 class="example-sidenav"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 (keydown.escape)="snav.close()" disableClose
    >

      <ul *ngFor="let navitem of navItems">
        <li [routerLink]="navitem.route"
            style="margin-left: 3px"
        >
          <!--          <button *ngIf="navitem.disabled === false && this.isSidenavMax === true"-->
          <button *ngIf="this.isSidenavMax === true"
                  mat-button
                  appButtonMenuDirective [theme]="'light'"
                  style="margin-left: 3px"
                  (click)="mobileQuery.matches ? snav.close() : ''"
          >
            <mat-icon class="routeIcon" style="margin-right: 10px">{{navitem.iconName}}</mat-icon>
            {{ navitem.displayName | translate}}
          </button>
          <!--          <button *ngIf="navitem.disabled === false && this.isSidenavMax === false"-->
          <button *ngIf="this.isSidenavMax === false"
                  mat-button
                  matTooltip="{{ navitem.displayName | translate}}"
                  matTooltipClass="tooltip"
                  [matTooltipPosition]="'right'"
                  appButtonMenuDirective [theme]="'light'"
                  (click)="mobileQuery.matches ? snav.close() : ''"
          >
            <mat-icon class="routeIcon">{{navitem.iconName}}</mat-icon>
          </button>
        </li>
      </ul>

      <button mat-button
              appButtonMenuDirective [theme]="'light'"
              class="bottom"
              style="margin-left: 3px; margin-bottom: 10px;"
              (click)="getSnavWidth()"
      >
        <mat-icon>{{sidenavWidth === sidenavWidthMax ? 'arrow_back' : 'arrow_forward'}}</mat-icon>
      </button>

    </mat-sidenav>
    <mat-sidenav-content
      class="example-sidenav-content"
    >
      <div [hidden]="!(this.router.url.substring(0,5) === '/oper')"
           [ngStyle]="{ 'marginLeft.px': sidenavContentMarginLeft }"
      >
        <app-operator-layout
          [siteMap]="siteMap"
          [tabsWidth]="tabsWidth"
          [contracts]="contracts"
          [fixtureTypes]="fixtureTypes"
          [nodeTypes]="nodeTypes"
          [gatewayTypes]="gatewayTypes"
          [sensorTypes]="sensorTypes"
          [companies]="companies"
          [persons]="persons"
          [substations]="substations"
        ></app-operator-layout>
      </div>
      <div [hidden]="!(this.router.url.substring(0,5) === '/dict')"
           [ngStyle]="{ 'marginLeft.px': sidenavContentMarginLeft}"
      >
        <app-dictionary-layout #dictionaryLayout
                               [siteMap]="siteMap"
                               [tabsWidth]="tabsWidth"
                               [contracts]="contracts"
                               [contractTypes]="contractTypes"
                               [fixtureTypes]="fixtureTypes"
                               [nodeTypes]="nodeTypes"
                               [gatewayTypes]="gatewayTypes"
                               [sensorTypes]="sensorTypes"
                               [companies]="companies"
                               [persons]="persons"
                               [substations]="substations"
                               (onGetContracts)="getContracts()"
                               (onGetContractTypes)="getContractTypes()"
                               (onGetFixtureTypes)="getFixtureTypes()"
                               (onGetNodeTypes)="getNodeTypes()"
                               (onGetGatewayTypes)="getGatewayTypes()"
                               (onGetSensorTypes)="getSensorTypes()"
                               (onGetCompanies)="getCompanies()"
                               (onGetPersons)="getPersons()"
                               (onGetSubstations)="getSubstations()"
        ></app-dictionary-layout>
      </div>
      <div [hidden]="!(this.router.url.substring(0,5) === '/admi')"
           [ngStyle]="{ 'marginLeft.px': sidenavContentMarginLeft }"
      >
        <app-admin-layout #adminLayoutComponent
                          [siteMap]="siteMap"
                          [tabsWidth]="tabsWidth"
                          [companies]="companies"
                          [persons]="persons"
                          (onUpdRights)="updRights()"
        ></app-admin-layout>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!--For Mobile-->
<div *ngIf="mobileQuery.matches === true"
     class="example-container"
     [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar appBackgroundLightredDirective class="example-header example-toolbar">
    <mat-toolbar-row>
      <div [hidden]="mobileQuery.matches ? false : false">
        <button mat-button
                appWavesDirective
                appButtonMenuDirective
                (click)="snavonmobile.toggle()">
          <mat-icon>{{snavonmobile.opened ? 'close' : 'menu'}}</mat-icon>
        </button>
      </div>

      <div class="button-top-menu">
        <a href="http://eireenlight.ru:8100/home"><img class="button-top-menu" src="pictures/eireenlight.jpg"></a>
      </div>

      <span class="spacer"></span>
      <span>
        <button mat-button
                appWavesDirective
                appButtonMenuDirective
                appBackgroundLightredDirective
                (click)="switchLanguage()"
        >
          <mat-icon>language</mat-icon>
          {{ language }}
        </button>
      </span>
      <span style="margin-left: 10px">
        <button mat-button
                appWavesDirective
                appButtonMenuDirective
                [matMenuTriggerFor]=useractions
        >
          {{ user.contragentCode }}
        </button>
      </span>
      <mat-menu #useractions="matMenu">
        <div style="margin-left: 15px">
          {{ user.login }}
        </div>
        <button mat-menu-item
                appButtonMenuDirective [theme]="'light'"
                (click)="logout($event)"
        >
          {{ 'site.menu.exit' | translate }}
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
                         (backdropClick)="snavonmobile.close()">
    <mat-sidenav #snavonmobile
                 class="example-sidenav"
                 [mode]="'over'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56"
                 (keydown.escape)="snavonmobile.close()" disableClose
    >
      <mat-tree #matTtree
                [dataSource]="this.dataSourceOnMobile"
                [treeControl]="treeControl"
      >
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node
          *matTreeNodeDef="let node"
          matTreeNodePadding
        >
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-button
                  appButtonMenuDirective [theme]="'light'"
                  (click)="onItemSelected(node)"
                  (click)="snavonmobile.close()"
          >
            <mat-icon class="routeIcon" style="margin-right: 5px">{{node.iconName}}</mat-icon>
            {{ node.name | translate}}
          </button>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node
          *matTreeNodeDef="let node;when: hasChild"
          matTreeNodePadding
          style="margin-left: 5px"
        >
          <a mat-button
             appButtonMenuDirective [theme]="'light'"
             (click)="onItemSelected(node)">
            <mat-icon class="routeIcon" style="margin-right: 5px">{{node.iconName}}</mat-icon>
            {{node.name | translate}}
          </a>
          <button mat-icon-button
                  matTreeNodeToggle
                  appWavesDirective
                  appButtonMenuDirective [theme]="'light'"
                  [attr.aria-label]="'toggle ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'expand_less'}}
            </mat-icon>
          </button>
        </mat-tree-node>
      </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content
      class="example-sidenav-content"
    >
      <div [hidden]="!(this.router.url.substring(0,5) === '/oper')"
      >
        <app-operator-layout
          [siteMap]="siteMap"
          [tabsWidth]="tabsWidth"
          [contracts]="contracts"
          [fixtureTypes]="fixtureTypes"
          [nodeTypes]="nodeTypes"
          [gatewayTypes]="gatewayTypes"
          [sensorTypes]="sensorTypes"
          [companies]="companies"
          [persons]="persons"
          [substations]="substations"
        ></app-operator-layout>
      </div>
      <div [hidden]="!(this.router.url.substring(0,5) === '/dict')"
      >
        <app-dictionary-layout #dictionaryLayout
                               [siteMap]="siteMap"
                               [tabsWidth]="tabsWidth"
                               [contracts]="contracts"
                               [contractTypes]="contractTypes"
                               [fixtureTypes]="fixtureTypes"
                               [nodeTypes]="nodeTypes"
                               [gatewayTypes]="gatewayTypes"
                               [sensorTypes]="sensorTypes"
                               [companies]="companies"
                               [persons]="persons"
                               [substations]="substations"
                               (onGetContracts)="getContracts()"
                               (onGetContractTypes)="getContractTypes()"
                               (onGetFixtureTypes)="getFixtureTypes()"
                               (onGetNodeTypes)="getNodeTypes()"
                               (onGetGatewayTypes)="getGatewayTypes()"
                               (onGetSensorTypes)="getSensorTypes()"
                               (onGetCompanies)="getCompanies()"
                               (onGetPersons)="getPersons()"
                               (onGetSubstations)="getSubstations()"
        ></app-dictionary-layout>
      </div>
      <div [hidden]="!(this.router.url.substring(0,5) === '/admi')"
      >
        <app-admin-layout
          [siteMap]="siteMap"
          [tabsWidth]="tabsWidth"
          [companies]="companies"
          [persons]="persons"
        ></app-admin-layout>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
