<div [ngSwitch]="itemEditForm.type">
  <div *ngSwitchCase="'jqxComboBox'">
    <tr>
      <td width="150"><b>{{itemEditForm.placeHolder}}</b></td>
      <td align="right">
        <jqxComboBox #jqxComboBox
                     [theme]="itemEditForm.theme"
                     [source]="itemEditForm.source"
                     [width]="itemEditForm.width"
                     [height]="itemEditForm.height"
                     [displayMember]="itemEditForm.displayMember"
                     [valueMember]="itemEditForm.valueMember"
                     [selectedIndex]="itemEditForm.selectedIndex"

                     (onSelect)="OnSelect($event)"
        >
        </jqxComboBox>
      </td>
    </tr>
  </div>

  <div *ngSwitchCase="'jqxTextArea'">
    <tr>
      <td width="150"><b>{{itemEditForm.placeHolder}}</b></td>
      <td align="right">
        <jqxTextArea
          [theme]="itemEditForm.theme"
          [width]="+itemEditForm.width" [height]="+itemEditForm.height"
          [(ngModel)]="itemEditForm.selectCode"
        >
        </jqxTextArea>
      </td>
    </tr>
  </div>

  <div *ngSwitchCase="'jqxNumberInput'">
    <tr>
      <td width="150"><b>{{itemEditForm.placeHolder}}</b></td>
      <td align="right">
        <jqxNumberInput
          [theme]="itemEditForm.theme"
          [width]="+itemEditForm.width" [height]="+itemEditForm.height"
          [min]="0" [spinButtons]="true"
          [spinMode]="'simple'"

          [(ngModel)]="itemEditForm.selectCode"
        >
        </jqxNumberInput>
      </td>
    </tr>
  </div>

  <!--  [digits]="2"-->
  <!--  [decimalDigits]="6"-->

  <div *ngSwitchCase="'jqxDateTimeInput'">
    <tr>
      <td width="150"><b>{{itemEditForm.placeHolder}}</b></td>
      <td align="right">
        <jqxDateTimeInput #jqxDateTimeInput
                          [theme]="itemEditForm.theme"
                          [width]="itemEditForm.width"
                          [height]="itemEditForm.height"
                          [showTimeButton]="true"
                          [formatString]="'yyyy-MM-dd HH:mm'"

                          (onValueChanged)="onValueChanged($event)"
        >
        </jqxDateTimeInput>
      </td>
    </tr>
  </div>

  <div *ngSwitchCase="'jqxCheckBox'">
    <tr>
      <td align="right">
        <jqxCheckBox
          [theme]="itemEditForm.theme"
          [checked]="false"
          [(ngModel)]="itemEditForm.selectCode"
          (click)="''"
        >{{itemEditForm.placeHolder}}
        </jqxCheckBox>
      </td>
      <td align="left">
      </td>
    </tr>
  </div>

  <div *ngSwitchCase="'InputSlider'">
    <tr>
      <td align="right"><b>{{itemEditForm.placeHolder}}</b></td>
      <td align="left">
        <div class="fr">
          <input #workLevel type="range" step="5" min="0" max="100"
                 (input)="this.workLevelOutput.nativeElement.value = $event.target.value"/>
          <output #workLevelOutput></output>
        </div>
      </td>
    </tr>
  </div>

</div>
