<!--<div [hidden]="!islistBoxVisible">-->
<!--  <jqxListBox #myListBox-->
<!--              style="float: left"-->
<!--              [theme]="this.sourceForJqxGridNodeType.listbox.theme"-->
<!--              [width]="this.sourceForJqxGridNodeType.listbox.width"-->
<!--              [height]="this.sourceForJqxGridNodeType.listbox.height"-->
<!--              [source]="this.sourceForJqxGridNodeType.listbox.source"-->
<!--              [checkboxes]="this.sourceForJqxGridNodeType.listbox.checkboxes"-->
<!--              [filterable]="this.sourceForJqxGridNodeType.listbox.filterable"-->
<!--              [allowDrag]="this.sourceForJqxGridNodeType.listbox.allowDrag"-->

<!--              (onCheckChange)="myListBoxOnCheckChange($event)"-->
<!--  >-->
<!--  </jqxListBox>-->
<!--</div>-->

<jqxGrid #myGrid
         [theme]="this.sourceForJqxGrid.grid.theme"
         [width]="widthDefined"
         [height]="heightDefined"
         [source]="dataAdapter_jqxgrid"
         [columns]="this.sourceForJqxGrid.grid.columns"
         [columnsresize]="this.sourceForJqxGrid.grid.columnsresize"

         [sortable]="this.sourceForJqxGrid.grid.sortable"
         [filterable]="this.sourceForJqxGrid.grid.filterable"
         [altrows]="this.sourceForJqxGrid.grid.altrows"
         [selectionmode]="this.sourceForJqxGrid.grid.selectionmode"

         (onRowselect)="onRowSelect($event)"
>
</jqxGrid>

<jqxWindow #settingWindow
           [theme]="this.sourceForJqxGrid.grid.theme"
           [autoOpen]="false"
           [isModal]="true"
           [modalOpacity]="0.3"
           [width]="500"
           [maxWidth]="700"
           [minWidth]="300"
           [height]="500"
           [maxHeight]="700"
           [minHeight]="300"
>
  <div>
    <b>Настройки таблицы</b>
  </div>

  <div>
    <jqxTabs #jqxTabs
             [theme]="this.sourceForJqxGrid.grid.theme"
             [width]='"100%"' [height]='"99%"'
             [position]='"top"'>
      <ul style="margin-left: 10px;">
        <li>Колонки таблицы</li>
        <li>Экспорт</li>
        <li>Печать</li>
      </ul>
      <div>
        <jqxListBox #myListBox
                    [theme]="this.sourceForJqxGrid.listbox.theme"
                    [width]='"99%"'
                    [height]='"99%"'
                    [source]="this.sourceForJqxGrid.listbox.source"
                    [checkboxes]="this.sourceForJqxGrid.listbox.checkboxes"
                    [filterable]="this.sourceForJqxGrid.listbox.filterable"
                    [allowDrag]="this.sourceForJqxGrid.listbox.allowDrag"

                    (onCheckChange)="myListBoxOnCheckChange($event)"
        >
        </jqxListBox>
      </div>
      <div>
        <div class="fr">
          <div appButtonSettinggrid>
            <jqxButton
              [theme]="this.sourceForJqxGrid.grid.theme"
              [width]='"100%"'
              (onClick)="excelBtnOnClick()">Export to Excel
            </jqxButton>
          </div>
          <div appButtonSettinggrid>
            <jqxButton
              [theme]="this.sourceForJqxGrid.grid.theme"
              [width]='"100%"'
              (onClick)="xmlBtnOnClick()">Export to XML
            </jqxButton>
          </div>
        </div>

        <div class="fr" style="margin-top: 10px">
          <div appButtonSettinggrid>
            <jqxButton
              [theme]="this.sourceForJqxGrid.grid.theme"
              [width]='"100%"'
              (onClick)="csvBtnOnClick()"
            >Export to CSV
            </jqxButton>
          </div>
          <div appButtonSettinggrid>
            <jqxButton
              [theme]="this.sourceForJqxGrid.grid.theme"
              [width]='"100%"'
              (onClick)="tsvBtnOnClick()"
            >Export to TSV
            </jqxButton>
          </div>
        </div>

        <div class="fr" style="margin-top: 10px">
          <div appButtonSettinggrid>
            <jqxButton
              [theme]="this.sourceForJqxGrid.grid.theme"
              [width]='"100%"'
              (onClick)="htmlBtnOnClick()"
            >Export to HTML
            </jqxButton>
          </div>
          <div appButtonSettinggrid>
            <jqxButton
              [theme]="this.sourceForJqxGrid.grid.theme"
              [width]='"100%"'
              (onClick)="jsonBtnOnClick()"
            >Export to JSON
            </jqxButton>
          </div>
        </div>

        <div appButtonSettinggrid style="margin-top: 10px">
          <jqxButton
            [theme]="this.sourceForJqxGrid.grid.theme"
            [width]='"100%"'
            (onClick)="pdfBtnOnClick()"
          >Export to PDF
          </jqxButton>
        </div>
      </div>
      <div>
        <div appButtonSettinggrid>
          <jqxButton
            [theme]="this.sourceForJqxGrid.grid.theme"
            [width]='"100%"'
            (onClick)="btnPrint()"
          >Печать
          </jqxButton>
        </div>
      </div>
    </jqxTabs>
  </div>

</jqxWindow>
