<jqxGrid #myGrid
         [theme]="this.sourceForJqxGrid.grid.theme"
         [width]="widthDefined"
         [height]="heightDefined"
         [source]="dataAdapter_jqxgrid"
         [columns]="columnsGrid"
         [columnsresize]="this.sourceForJqxGrid.grid.columnsresize"
         [sortable]="this.sourceForJqxGrid.grid.sortable"
         [filterable]="this.sourceForJqxGrid.grid.filterable"
         [altrows]="this.sourceForJqxGrid.grid.altrows"
         [selectionmode]="this.sourceForJqxGrid.grid.selectionmode"
         (onRowselect)="onRowSelect($event)"
>
</jqxGrid>

<jqxWindow #settingForm
           *ngIf="isSettingFormInit"
           [theme]="this.sourceForJqxGrid.grid.theme"
           [autoOpen]="true"
           [isModal]="true"
           [modalOpacity]="0.3"
           [width]="500"
           [height]="500"
           (onClose)="closeDestroy()"
>
  <div>
    <i class="material-icons">settings</i>
  </div>
  <div>
    <mat-tab-group #matTabGroup [selectedIndex]="0">
      <mat-tab label="{{'site.grid.columns' | translate}}">
        <ng-template matTabContent>
          <div style="height: 390px">
            <jqxListBox #myListBox
                        [theme]="this.sourceForJqxGrid.listbox.theme"
                        [width]='"99%"'
                        [height]='"99%"'
                        [source]="listBoxSource"
                        [checkboxes]="this.sourceForJqxGrid.listbox.checkboxes"
                        [filterable]="this.sourceForJqxGrid.listbox.filterable"
                        [allowDrag]="this.sourceForJqxGrid.listbox.allowDrag"
                        (onCheckChange)="myListBoxOnCheckChange($event)"
            >
            </jqxListBox>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{'site.grid.export' | translate}}">
        <ng-template matTabContent>
          <div class="fr">
            <div appButtonSettinggrid>
              <jqxButton
                [theme]="this.sourceForJqxGrid.grid.theme"
                [width]='"100%"'
                (onClick)="excelBtnOnClick()"
              >{{'site.grid.excel' | translate}}
              </jqxButton>
            </div>
            <div appButtonSettinggrid>
              <jqxButton
                [theme]="this.sourceForJqxGrid.grid.theme"
                [width]='"100%"'
                (onClick)="xmlBtnOnClick()"
              >{{'site.grid.xml' | translate}}
              </jqxButton>
            </div>
          </div>

          <div class="fr" style="margin-top: 10px">
            <div appButtonSettinggrid>
              <jqxButton
                [theme]="this.sourceForJqxGrid.grid.theme"
                [width]='"100%"'
                (onClick)="csvBtnOnClick()"
              >{{'site.grid.csv' | translate}}
              </jqxButton>
            </div>
            <div appButtonSettinggrid>
              <jqxButton
                [theme]="this.sourceForJqxGrid.grid.theme"
                [width]='"100%"'
                (onClick)="tsvBtnOnClick()"
              >{{'site.grid.tsv' | translate}}
              </jqxButton>
            </div>
          </div>

          <div class="fr" style="margin-top: 10px">
            <div appButtonSettinggrid>
              <jqxButton
                [theme]="this.sourceForJqxGrid.grid.theme"
                [width]='"100%"'
                (onClick)="htmlBtnOnClick()"
              >{{'site.grid.html' | translate}}
              </jqxButton>
            </div>
            <div appButtonSettinggrid>
              <jqxButton
                [theme]="this.sourceForJqxGrid.grid.theme"
                [width]='"100%"'
                (onClick)="jsonBtnOnClick()"
              >{{'site.grid.json' | translate}}
              </jqxButton>
            </div>
          </div>

          <div appButtonSettinggrid style="margin-top: 10px">
            <jqxButton
              [theme]="this.sourceForJqxGrid.grid.theme"
              [width]='"100%"'
              (onClick)="pdfBtnOnClick()"
            >{{'site.grid.pdf' | translate}}
            </jqxButton>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{'site.grid.print' | translate}}">
        <ng-template matTabContent>
          <div appButtonSettinggrid>
            <jqxButton
              [theme]="this.sourceForJqxGrid.grid.theme"
              [width]='"100%"'
              (onClick)="btnPrint()"
            >{{'site.grid.print' | translate}}
            </jqxButton>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</jqxWindow>
