<app-nodelist-page #nodelistPageComponent

                   [geographs]="geographs"
                   [ownerNodes]="ownerNodes"
                   [nodeTypes]="nodeTypes"
                   [contractNodes]="contractNodes"

                   [heightGrid]="320"
                   [isMasterGrid]="true"

                   [isAdd]=true
                   [isUpdate]=true
                   [isDelete]=true
                   [isRefresh]=true
                   [isFilter_none]=true
                   [isFilter_list]=true
                   [isPlace]=false
                   [isPin_drop]=false

                   [nodeSortcolumn]="nodeSortcolumn"
                   [nodeColumns]="nodeColumns"
                   [nodeListBoxSource]="nodeListBoxSource"

                   (onRefreshChildGrid)="refreshChildGrid($event)"
                   (onRefreshMap)="refreshMap()"
></app-nodelist-page>

<jqxTabs
  [theme]="'material'"
  (onSelected)="selected($event)"
>
  <ul>
    <li style="margin-left: 30px">Светильники</li>
    <li>Шлюзы</li>
    <li>Сенсоры</li>
  </ul>
  <div style="overflow: hidden">
    <app-fixturelist-page *ngIf="this.isTabFixture" #fixturelistPageComponent

                          [geographs]="geographs"
                          [ownerFixtures]="ownerFixtures"
                          [fixtureTypes]="fixtureTypes"
                          [substations]="substations"
                          [contractFixtures]="contractFixtures"
                          [installers]="installers"
                          [heightTypes]="heightTypes"

                          [selectContractId]="''"
                          [selectNodeId]="selectNodeId"

                          [heightGrid]="300"
                          [selectionmode]="'checkbox'"

                          [isAdd]=true
                          [isUpdate]=true
                          [isDelete]=true
                          [isRefresh]=false
                          [isFilter_none]=false
                          [isFilter_list]=false
                          [isPlace]=true
                          [isPin_drop]=true
    ></app-fixturelist-page>
  </div>
  <div style="overflow: hidden">
    <app-gatewaylist-page *ngIf="this.isTabGateway" #gatewaylistPageComponent

                          [geographs]="geographs"
                          [ownerGateways]="ownerGateways"
                          [gatewayTypes]="gatewayTypes"
                          [contractGateways]="contractGateways"

                          [selectNodeId]="selectNodeId"

                          [heightGrid]="310"
                          [isMasterGrid]="false"
                          [selectionmode]="'checkbox'"

                          [isAdd]=true
                          [isUpdate]=true
                          [isDelete]=true
                          [isRefresh]=false
                          [isFilter_none]=false
                          [isFilter_list]=false
                          [isPlace]=true
                          [isPin_drop]=true
    ></app-gatewaylist-page>
  </div>
  <div style="overflow: hidden">
    <app-sensorlist-page *ngIf="this.isTabSensor" #sensorlistPageComponent

                         [geographs]="geographs"
                         [ownerSensors]="ownerSensors"
                         [sensorTypes]="sensorTypes"
                         [contractSensors]="contractSensors"

                         [nodeSelectId]="selectNodeId"

                         [heightGrid]="310"
                         [isMasterGrid]="false"

                         [isAdd]="true"
                         [isUpdate]="true"
                         [isDelete]="true"
                         [isRefresh]="false"
                         [isFilter_none]="false"
                         [isFilter_list]="false"
                         [isPlace]="false"
                         [isPin_drop]="false"
    ></app-sensorlist-page>
  </div>
</jqxTabs>


