<div *ngIf="siteMap[0].children[1].children[0].disabled === false; else notRightComponent">
  <jqxSplitter #mainSplitter
               [theme]="'material'"
               [width]="'99.9%'" [height]="getHeightSplitter()" [orientation]="'horizontal'"
               [panels]="[{ size: getHeightSplitter()*0.6, collapsible: false }, { size: getHeightSplitter()*0.4}]"
               (onResize)="resize(mainSplitter.attrPanels[0].size, mainSplitter.attrPanels[1].size)"
               (onCollapsed)="collapsed(mainSplitter.attrPanels[0].size, mainSplitter.attrPanels[1].size)"
               (onExpanded)="expanded()"
  >
    <div class="splitter-panel">
      <app-nodelist-page #nodelistPageComponent
                         [siteMap]="siteMap"
                         [ownerNodes]="ownerNodes"
                         [nodeTypes]="nodeTypes"
                         [contractNodes]="contractNodes"
                         [heightGrid]="mainSplitter.attrPanels[0].size - this.heightDeltaParentGrid"
                         [isMasterGrid]="true"
                         [settingButtonPanel]="settingNodeButtonPanel"
                         [currentLang]="this.translate.currentLang"
                         (onRefreshChildGrid)="refreshChildGrid($event)"
      ></app-nodelist-page>
    </div>
    <div class="splitter-panel">
      <mat-tab-group #matTabGroup [selectedIndex]="0">
        <mat-tab label="{{'site.menu.operator.fixture-page.fixture-page' | translate}}">
          <app-fixturelist-page #fixturelistPageComponent
                                [siteMap]="siteMap"
                                [ownerFixtures]="ownerFixtures"
                                [fixtureTypes]="fixtureTypes"
                                [substations]="substations"
                                [contractFixtures]="contractFixtures"
                                [installers]="installers"
                                [heightTypes]="heightTypes"
                                [selectContractId]="''"
                                [selectNodeId]="selectNodeId"
                                [heightGrid]="mainSplitter.attrPanels[1].size - this.heightDeltaChildGrid"
                                [selectionmode]="'checkbox'"
                                [settingButtonPanel]="settingFixtureButtonPanel"
                                [currentLang]="this.translate.currentLang"
          ></app-fixturelist-page>
        </mat-tab>
        <mat-tab label="{{'site.menu.operator.gateway-page.gateway-page' | translate}}">
          <app-gatewaylist-page #gatewaylistPageComponent
                                [siteMap]="siteMap"
                                [ownerGateways]="ownerGateways"
                                [gatewayTypes]="gatewayTypes"
                                [contractGateways]="contractGateways"
                                [selectNodeId]="selectNodeId"
                                [heightGrid]="mainSplitter.attrPanels[1].size - this.heightDeltaChildGrid"
                                [isMasterGrid]="false"
                                [selectionmode]="'checkbox'"
                                [settingButtonPanel]="settingGatewayButtonPanel"
                                [currentLang]="this.translate.currentLang"
          ></app-gatewaylist-page>
        </mat-tab>
        <mat-tab label="{{'site.menu.operator.sensor-page.sensor-page' | translate}}">
          <app-sensorlist-page #sensorlistPageComponent
                               [siteMap]="siteMap"
                               [ownerSensors]="ownerSensors"
                               [sensorTypes]="sensorTypes"
                               [contractSensors]="contractSensors"
                               [selectNodeId]="selectNodeId"
                               [heightGrid]="mainSplitter.attrPanels[1].size - this.heightDeltaChildGrid"
                               [isMasterGrid]="false"
                               [selectionmode]="'checkbox'"
                               [settingButtonPanel]="settingSensorButtonPanel"
                               [currentLang]="this.translate.currentLang"
          ></app-sensorlist-page>
        </mat-tab>
      </mat-tab-group>
    </div>
  </jqxSplitter>
</div>

<ng-template #notRightComponent>
  <app-not-right
    [message]="translate.instant('site.menu.operator.node-page.node-masterdetails-page.node-masterdetails-page')"
  >
  </app-not-right>
</ng-template>
