<div>
  <div [hidden]="isFixtureVisible()">
    <app-fixture-page
      [siteMap]="siteMap"
      [tabsWidth]="tabsWidth"
      [ownerFixtures]="ownerFixtures"
      [fixtureTypes]="fixtureTypes"
      [substations]="substations"
      [contractFixtures]="contracts"
      [installers]="companies"
      [heightTypes]="heightTypes"
      [fixtureGroupTypes]="fixtureGroupTypes"
      [fixtureGroupOwners]="fixtureGroupOwners"
      [commandTypes]="commandTypes"
      [commandStatuses]="commandStatuses"
      [speedDirectiones]="speedDirectiones"
    ></app-fixture-page>
  </div>
  <div [hidden]="isNodeVisible()">
    <app-node-page
      [siteMap]="siteMap"
      [tabsWidth]="tabsWidth"
      [ownerFixtures]="ownerFixtures"
      [fixtureTypes]="fixtureTypes"
      [substations]="substations"
      [contractFixtures]="contracts"
      [installers]="companies"
      [heightTypes]="heightTypes"
      [ownerNodes]="ownerNodes"
      [nodeTypes]="nodeTypes"
      [contractNodes]="contracts"
      [ownerGateways]="ownerGateways"
      [gatewayTypes]="gatewayTypes"
      [contractGateways]="contracts"
      [ownerSensors]="ownerSensors"
      [sensorTypes]="sensorTypes"
      [contractSensors]="contracts"
    ></app-node-page>
  </div>
  <div [hidden]="isGatewayVisible()">
    <app-gateway-page
      [siteMap]="siteMap"
      [tabsWidth]="tabsWidth"
      [ownerNodes]="ownerNodes"
      [nodeTypes]="nodeTypes"
      [contractNodes]="contracts"
      [ownerGateways]="ownerGateways"
      [gatewayTypes]="gatewayTypes"
      [contractGateways]="contracts"
    ></app-gateway-page>
  </div>
  <div [hidden]="isSensorVisible()"
       [style.width]="tabsWidth + '%'"
  >
    <app-sensor-page
      [siteMap]="siteMap"
      [ownerSensors]="ownerSensors"
      [sensorTypes]="sensorTypes"
      [contractSensors]="contracts"
    ></app-sensor-page>
  </div>
</div>

<div *ngIf="mobileQuery.matches === true" class="fixed-action-btn" #floating>
  <a class="btn-floating btn-large waves-effect waves-orange red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating waves-effect waves-orange red" routerLink="/operator/fixture">
        <i class="material-icons">lightbulb_outline</i>
      </a>
    </li>
    <li>
      <a class="btn-floating waves-effect waves-orange red" routerLink="/operator/node">
        <i class="material-icons">assistant_photo</i>
      </a>
    </li>
    <li>
      <a class="btn-floating waves-effect waves-orange red" routerLink="/operator/gateway">
        <i class="material-icons">router</i>
      </a>
    </li>
    <li>
      <a class="btn-floating waves-effect waves-orange red" routerLink="/operator/sensor">
        <i class="material-icons">hearing</i>
      </a>
    </li>
  </ul>
</div>
