<jqxTabs
  [theme]="'material'"
  [width]="'99%'"
  (onSelected)="selected($event)"
>
  <ul>
    <li style="margin-left: 30px">Шлюзы</li>
    <li>Карта</li>
  </ul>
  <div style="overflow: hidden">
    <app-gateway-masterdetails-page #gatewayMasterdetailsPageComponent

                                    [geographs]="geographs"
                                    [ownerGateways]="ownerGateways"
                                    [gatewayTypes]="gatewayTypes"
                                    [contractGateways]="contractGateways"

                                    [ownerNodes]="ownerNodes"
                                    [nodeTypes]="nodeTypes"
                                    [contractNodes]="contractNodes"
                                    [nodeSortcolumn]="nodeSortcolumn"
                                    [nodeColumns]="nodeColumns"
                                    [nodeListBoxSource]="nodeListBoxSource"

                                    (onRefreshMap)="refreshMap()"
    ></app-gateway-masterdetails-page>
  </div>
  <div style="overflow: hidden">
    <app-gatewaymap-page #gatewaymapPageComponent
                         [geographs]="geographs"
                         [ownerGateways]="ownerGateways"
                         [gatewayTypes]="gatewayTypes"
                         [contractGateways]="contractGateways"

                         [nodeColumns]="nodeColumns"

                         (onRefreshGrid)="refreshGrid()"
    ></app-gatewaymap-page>
  </div>
</jqxTabs>
