<div style="margin: 10px 5px 5px 5px;">
  <app-sensorlist-page #sensorlistPageComponent

                       [geographs]="geographs"
                       [ownerSensors]="ownerSensors"
                       [sensorTypes]="sensorTypes"
                       [contractSensors]="contractSensors"

                       [selectNodeId]="1"

                       [heightGrid]="750"
                       [isMasterGrid]="true"

                       [settingButtonPanel]="settingSensorButtonPanel"
  ></app-sensorlist-page>
</div>
