<div style="margin: 10px 0px 0px 0px;">
  <app-sensorlist-page #sensorlistPageComponent

                       [geographs]="geographs"
                       [ownerSensors]="ownerSensors"
                       [sensorTypes]="sensorTypes"
                       [contractSensors]="contractSensors"

                       [nodeSelectId]="0"

                       [heightGrid]="750"
                       [isMasterGrid]="true"

                       [isAdd]="true"
                       [isUpdate]="true"
                       [isDelete]="true"
                       [isRefresh]="true"
                       [isFilter_none]="true"
                       [isFilter_list]="false"
                       [isPlace]="false"
                       [isPin_drop]="false"
  ></app-sensorlist-page>
</div>
