<div [style.width]="tabsWidth + '%'">
<!--*ngIf="(this.router.url.substring(0, 21) === '/dictionary/equipment')"-->
  <div [hidden]="!(this.router.url.substring(0, 21) === '/dictionary/equipment')">
    <app-equipment-type
      [heightGrid]="780"
    ></app-equipment-type>
  </div>
<!--*ngIf="(this.router.url.substring(0, 22) === '/dictionary/contragent')"-->
  <div [hidden]="!(this.router.url.substring(0, 22) === '/dictionary/contragent')">
    <app-contragent
      [heightGrid]="780"
    >
    </app-contragent>
  </div>
<!-- *ngIf="(this.router.url.substring(0, 20) === '/dictionary/contract')"-->
  <div [hidden]="!(this.router.url.substring(0, 20) === '/dictionary/contract')">
    <app-contract
      [heightGrid]="780"
    >
    </app-contract>
  </div>
</div>

