<div [style.width]="tabsWidth + '%'">
  <div [hidden]="!(this.router.url.substring(0, 21) === '/dictionary/equipment')">
    <app-equipment-type #equipmentTypeComponent
                        [siteMap]="siteMap"
                        [heightGrid]="780"
                        [fixtureTypes]="fixtureTypes"
                        [nodeTypes]="nodeTypes"
                        [gatewayTypes]="gatewayTypes"
                        [sensorTypes]="sensorTypes"
                        [currentLang]="this.translate.currentLang"
                        (onGetFixtureTypes)="getFixtureTypes()"
                        (onGetNodeTypes)="getNodeTypes()"
                        (onGetGatewayTypes)="getGatewayTypes()"
                        (onGetSensorTypes)="getSensorTypes()"
    ></app-equipment-type>
  </div>
  <div [hidden]="!(this.router.url.substring(0, 22) === '/dictionary/contragent')">
    <app-contragent #contragentComponent
                    [siteMap]="siteMap"
                    [heightGrid]="780"
                    [companies]="companies"
                    [persons]="persons"
                    [substations]="substations"
                    [currentLang]="this.translate.currentLang"
                    (onGetCompanies)="getCompanies()"
                    (onGetPersons)="getPersons()"
                    (onGetSubstations)="getSubstations()"
    >
    </app-contragent>
  </div>
  <div [hidden]="!(this.router.url.substring(0, 20) === '/dictionary/contract')">
    <app-contract #contractComponent
                  [siteMap]="siteMap"
                  [heightGrid]="780"
                  [contracts]="contracts"
                  [contractTypes]="contractTypes"
                  [companies]="companies"
                  [currentLang]="this.translate.currentLang"
                  (onGetContracts)="getContracts()"
                  (onGetContractTypes)="getContractTypes()"
    >
    </app-contract>
  </div>
</div>

