<h6 style="margin: 0px 2px 2px 2px; text-align: center"
    appBackgroundLightorangeDirective
>{{getHeadline()}}</h6>

<div>
  <div *ngIf="siteMap[1].children[0].children[0].disabled === false"
       [hidden]="!(this.router.url ==='/dictionary/equipment/fixturetype')"
       class="table_border">
    <app-simple-dictionary #fixtureTypeSimpleDictionary
                           [typeDictionary]="dictionaryFixtureType"
                           [columnsGrid]="columnsGridFixtureTypes"
                           [listBoxSource]="listBoxSourceFixtureTypes"
                           [sourceForJqxGrid]="sourceForJqxGridFixtureType"
                           [settingWinForEditForm]="settingWinForEditFormFixtureType"
                           [sourceForEditForm]="sourceForEditFormFixtureType"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div *ngIf="siteMap[1].children[0].children[1].disabled === false"
       [hidden]="!(this.router.url === '/dictionary/equipment/nodetype')"
       class="table_border">
    <app-simple-dictionary #nodeTypeSimpleDictionary
                           [typeDictionary]="dictionaryNodeType"
                           [columnsGrid]="columnsGridNodeTypes"
                           [listBoxSource]="listBoxSourceNodeTypes"
                           [sourceForJqxGrid]="sourceForJqxGridNodeType"
                           [settingWinForEditForm]="settingWinForEditFormNodeType"
                           [sourceForEditForm]="sourceForEditFormNodeType"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div *ngIf="siteMap[1].children[0].children[2].disabled === false"
       [hidden]="!(this.router.url === '/dictionary/equipment/gatewaytype')"
       class="table_border">
    <app-simple-dictionary #gatewayTypeSimpleDictionary
                           [typeDictionary]="dictionaryGatewayType"
                           [columnsGrid]="columnsGridGatewayTypes"
                           [listBoxSource]="listBoxSourceGatewayTypes"
                           [sourceForJqxGrid]="sourceForJqxGridGatewayType"
                           [settingWinForEditForm]="settingWinForEditFormGatewayType"
                           [sourceForEditForm]="sourceForEditFormGatewayType"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div *ngIf="siteMap[1].children[0].children[3].disabled === false"
       [hidden]="!(this.router.url === '/dictionary/equipment/sensortype')"
       class="table_border">
    <app-simple-dictionary #sensorTypeSimpleDictionary
                           [typeDictionary]="dictionarySensorType"
                           [columnsGrid]="columnsGridSensorTypes"
                           [listBoxSource]="listBoxSourceSensorTypes"
                           [sourceForJqxGrid]="sourceForJqxGridSensorType"
                           [settingWinForEditForm]="settingWinForEditFormSensorType"
                           [sourceForEditForm]="sourceForEditFormSensorType"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>
</div>
