<h6 style="margin: 0px 2px 2px 2px; text-align: center"
    appBackgroundLightorangeDirective
>{{getHeadline()}}</h6>

<div>
  <div *ngIf="this.router.url ==='/dictionary/equipment/fixturetype'"
       class="table_border">
    <app-simple-dictionary #fixtureType
                           [typeDictionary]="dictionaryFixtureType"
                           [sourceForJqxGrid]="sourceForJqxGridFixtureType"
                           [settingWinForEditForm]="settingWinForEditFormFixtureType"
                           [sourceForEditForm]="sourceForEditFormFixtureType"

                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditwinBtn)="saveEditwinBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div *ngIf="this.router.url === '/dictionary/equipment/nodetype'"
       class="table_border">
    <app-simple-dictionary #nodeType
                           [typeDictionary]="dictionaryNodeType"
                           [sourceForJqxGrid]="sourceForJqxGridNodeType"
                           [settingWinForEditForm]="settingWinForEditFormNodeType"
                           [sourceForEditForm]="sourceForEditFormNodeType"

                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditwinBtn)="saveEditwinBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div *ngIf="this.router.url === '/dictionary/equipment/gatewaytype'"
       class="table_border">
    <app-simple-dictionary #gatewayType
                           [typeDictionary]="dictionaryGatewayType"
                           [sourceForJqxGrid]="sourceForJqxGridGatewayType"
                           [settingWinForEditForm]="settingWinForEditFormGatewayType"
                           [sourceForEditForm]="sourceForEditFormGatewayType"

                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditwinBtn)="saveEditwinBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div *ngIf="this.router.url === '/dictionary/equipment/sensortype'"
       class="table_border">
    <app-simple-dictionary #sensorType
                           [typeDictionary]="dictionarySensorType"
                           [sourceForJqxGrid]="sourceForJqxGridSensorType"
                           [settingWinForEditForm]="settingWinForEditFormSensorType"
                           [sourceForEditForm]="sourceForEditFormSensorType"

                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditwinBtn)="saveEditwinBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>
</div>
