<h6 style="margin: 0px 2px 2px 2px; text-align: center"
    appBackgroundLightorangeDirective
>{{getHeadline()}}</h6>

<div>
  <div [hidden]="!(this.router.url ==='/dictionary/equipment/fixturetype')"
       class="table_border">
    <app-simple-dictionary #fixtureTypeSimpleDictionary
                           *ngIf="this.translate.currentLang === 'ru'"
                           [typeDictionary]="dictionaryFixtureType"
                           [columnsGrid]="columnsGridFixtureTypes"
                           [listBoxSource]="listBoxSourceFixtureTypes"
                           [sourceForJqxGrid]="sourceForJqxGridFixtureType"
                           [settingWinForEditForm]="settingWinForEditFormFixtureType"
                           [sourceForEditForm]="sourceForEditFormFixtureType"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
    <app-simple-dictionary #fixtureTypeSimpleDictionary
                           *ngIf="this.translate.currentLang === 'en'"
                           [typeDictionary]="dictionaryFixtureType"
                           [columnsGrid]="columnsGridFixtureTypesEng"
                           [listBoxSource]="listBoxSourceFixtureTypesEng"
                           [sourceForJqxGrid]="sourceForJqxGridFixtureType"
                           [settingWinForEditForm]="settingWinForEditFormFixtureType"
                           [sourceForEditForm]="sourceForEditFormFixtureTypeEng"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div [hidden]="!(this.router.url === '/dictionary/equipment/nodetype')"
       class="table_border">
    <app-simple-dictionary #nodeTypeSimpleDictionary
                           *ngIf="this.translate.currentLang === 'ru'"
                           [typeDictionary]="dictionaryNodeType"
                           [columnsGrid]="columnsGridNodeTypes"
                           [listBoxSource]="listBoxSourceNodeTypes"
                           [sourceForJqxGrid]="sourceForJqxGridNodeType"
                           [settingWinForEditForm]="settingWinForEditFormNodeType"
                           [sourceForEditForm]="sourceForEditFormNodeType"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
    <app-simple-dictionary #nodeTypeSimpleDictionary
                           *ngIf="this.translate.currentLang === 'en'"
                           [typeDictionary]="dictionaryNodeType"
                           [columnsGrid]="columnsGridNodeTypesEng"
                           [listBoxSource]="listBoxSourceNodeTypesEng"
                           [sourceForJqxGrid]="sourceForJqxGridNodeType"
                           [settingWinForEditForm]="settingWinForEditFormNodeType"
                           [sourceForEditForm]="sourceForEditFormNodeTypeEng"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div [hidden]="!(this.router.url === '/dictionary/equipment/gatewaytype')"
       class="table_border">
    <app-simple-dictionary #gatewayTypeSimpleDictionary
                           *ngIf="this.translate.currentLang === 'ru'"
                           [typeDictionary]="dictionaryGatewayType"
                           [columnsGrid]="columnsGridGatewayTypes"
                           [listBoxSource]="listBoxSourceGatewayTypes"
                           [sourceForJqxGrid]="sourceForJqxGridGatewayType"
                           [settingWinForEditForm]="settingWinForEditFormGatewayType"
                           [sourceForEditForm]="sourceForEditFormGatewayType"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
    <app-simple-dictionary #gatewayTypeSimpleDictionary
                           *ngIf="this.translate.currentLang === 'en'"
                           [typeDictionary]="dictionaryGatewayType"
                           [columnsGrid]="columnsGridGatewayTypesEng"
                           [listBoxSource]="listBoxSourceGatewayTypesEng"
                           [sourceForJqxGrid]="sourceForJqxGridGatewayType"
                           [settingWinForEditForm]="settingWinForEditFormGatewayType"
                           [sourceForEditForm]="sourceForEditFormGatewayTypeEng"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div [hidden]="!(this.router.url === '/dictionary/equipment/sensortype')"
       class="table_border">
    <app-simple-dictionary #sensorTypeSimpleDictionary
                           *ngIf="this.translate.currentLang === 'ru'"
                           [typeDictionary]="dictionarySensorType"
                           [columnsGrid]="columnsGridSensorTypes"
                           [listBoxSource]="listBoxSourceSensorTypes"
                           [sourceForJqxGrid]="sourceForJqxGridSensorType"
                           [settingWinForEditForm]="settingWinForEditFormSensorType"
                           [sourceForEditForm]="sourceForEditFormSensorType"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
    <app-simple-dictionary #sensorTypeSimpleDictionary
                           *ngIf="this.translate.currentLang === 'en'"
                           [typeDictionary]="dictionarySensorType"
                           [columnsGrid]="columnsGridSensorTypesEng"
                           [listBoxSource]="listBoxSourceSensorTypesEng"
                           [sourceForJqxGrid]="sourceForJqxGridSensorType"
                           [settingWinForEditForm]="settingWinForEditFormSensorType"
                           [sourceForEditForm]="sourceForEditFormSensorTypeEng"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>
</div>
