<div [hidden]="!islistBoxVisible">
  <jqxListBox #myListBox
              [theme]="'material'"
              style="float: left"
              (onCheckChange)="myListBoxOnCheckChange($event)"
              [width]="150"
              [height]="heightGrid"
              [source]="listBoxSource"
              [checkboxes]="true"
              [filterable]="true"
              [allowDrag]="true"
  >
  </jqxListBox>
</div>

<jqxGrid #myGrid
         [theme]="'material'"
         [width]="getWidth()"
         [height]="heightGrid"
         [source]="dataAdapter_jqxgrid"
         [columns]="columns"
         [columnsresize]="true"

         [sortable]="true"
         [filterable]="true"
         [altrows]="true"
         [selectionmode]="selectionmode"

         (onRowselect)="onRowSelect($event)"
>
</jqxGrid>

<app-sensoredit-form #editWindow
                     [sensorTypes]="sensorTypes"
                     [contractSensors]="contractSensors"

                     (onSaveEditwinBtn)="saveEditwinBtn()"
></app-sensoredit-form>

<app-event-window #eventWindow
                  [warning]="warningEventWindow"
                  (onOkEvenwinBtn)="okEvenwinBtn()"
></app-event-window>



