<div [hidden]="!islistBoxVisible">
  <jqxListBox #myListBox
              [theme]="'material'"
              style="float: left"
              (onCheckChange)="myListBoxOnCheckChange($event)"
              [width]="150"
              [height]="heightGrid"
              [source]="listBoxSource"
              [checkboxes]="true"
              [filterable]="true"
              [allowDrag]="true"
  >
  </jqxListBox>
</div>

<jqxGrid #myGrid
         [theme]="'material'"
         [width]="getWidth()"
         [height]="heightGrid"
         [source]="dataAdapter_jqxgrid"
         [columns]="columnsGrid"
         [columnsresize]="true"

         [sortable]="true"
         [filterable]="true"
         [altrows]="true"
         [selectionmode]="selectionmode"

         (onRowselect)="onRowSelect($event)"
>
</jqxGrid>




