<div [hidden]="!islistBoxVisible">
  <jqxListBox #myListBox
              [theme]="'material'"
              style="float: left"
              (onCheckChange)="myListBoxOnCheckChange($event)"
              [width]="150"
              [height]="heightGrid"
              [source]="nodeListBoxSource"
              [checkboxes]="true"
              [filterable]="true"
              [allowDrag]="true"
  >
  </jqxListBox>
</div>

<jqxGrid #myGrid
         [theme]="'material'"
         [width]="getWidth()"
         [height]="heightGrid"
         [source]="dataAdapter_jqxgrid"
         [columns]="nodeColumns"
         [columnsresize]="true"

         [sortable]="true"
         [filterable]="true"
         [altrows]="true"
         [selectionmode]="selectionmode"

         (onRowclick)="onRowclick($event)"
         (onRowselect)="onRowSelect($event)" (onRowunselect)="onRowUnselect($event)"
         (onCellbeginedit)="onRowBeginEdit($event)" (onCellendedit)="onRowEndEdit($event)"
>
</jqxGrid>

<app-nodelink-form #linkWindow
                      [columns]="nodeColumns"
                      [id_gateway_select]="id_gateway_select"

                      (onSaveLinkwinBtn)="saveLinkwinBtn()"
></app-nodelink-form>

<app-nodeedit-form #editWindow
                   [geographs]="geographs"
                   [nodeTypes]="nodeTypes"
                   [contract_nodes]="contract_nodes"
                   (onSaveEditwinBtn)="saveEditwinBtn()"
></app-nodeedit-form>

<app-event-window #eventWindow
                  [warning]="warningEventWindow"
                  (onOkEvenwinBtn)="okEvenwinBtn()"
></app-event-window>


