<!--<div class="fr" style="height: 22px">-->
<!--    <div style="float: left" *ngIf="settingButtonPanel.add.visible">-->
<!--      <jqxTooltip [position]="'bottom'" #tooltipAdd-->
<!--                  [content]="'Добавить'">-->
<!--        <Button [disabled]="settingButtonPanel.add.disabled"-->
<!--                (click)="ins()"-->
<!--                appButtonSimpleStyle-->
<!--        >-->
<!--          <i class="material-icons">add</i>-->
<!--        </Button>-->
<!--      </jqxTooltip>-->
<!--    </div>-->

<!--  <div style="float: left" *ngIf="settingButtonPanel.upd.visible">-->
<!--    <jqxTooltip [position]="'bottom'" [name]="'updTooltip'"-->
<!--                [content]="'Редактировать'">-->
<!--      <Button [disabled]="settingButtonPanel.upd.disabled"-->
<!--              (click)="upd()"-->
<!--              appButtonSimpleStyle-->
<!--      >-->
<!--        <i class="material-icons">edit</i>-->
<!--      </Button>-->
<!--    </jqxTooltip>-->
<!--  </div>-->

<!--  <div style="float: left" *ngIf="settingButtonPanel.del.visible">-->
<!--    <jqxTooltip [position]="'bottom'" [name]="'delTooltip'"-->
<!--                [content]="'Удалить'">-->
<!--      <Button [disabled]="settingButtonPanel.del.disabled"-->
<!--              (click)="del()"-->
<!--              appButtonSimpleStyle-->
<!--      >-->
<!--        <i class="material-icons">delete</i>-->
<!--      </Button>-->
<!--    </jqxTooltip>-->
<!--  </div>-->

<!--  <div style="float: left" *ngIf="settingButtonPanel.refresh.visible">-->
<!--    <jqxTooltip [position]="'bottom'" [name]="'refreshTooltip'"-->
<!--                [content]="'Обновить таблицу'">-->
<!--      <button [disabled]="settingButtonPanel.refresh.disabled"-->
<!--              (click)="refresh()"-->
<!--              appButtonSimpleStyle-->
<!--      >-->
<!--        <i class="small material-icons">refresh</i>-->
<!--      </button>-->
<!--    </jqxTooltip>-->
<!--  </div>-->

<!--  <div style="float: left" *ngIf="settingButtonPanel.setting.visible">-->
<!--    <jqxTooltip [position]="'bottom'" [name]="'fieldTooltip'"-->
<!--                [content]="'Настройки таблицы'">-->
<!--      <button [disabled]="settingButtonPanel.setting.disabled"-->
<!--              (click)="setting()"-->
<!--              appButtonSimpleStyle-->
<!--      >-->
<!--        <i class="material-icons">settings</i>-->
<!--      </button>-->
<!--    </jqxTooltip>-->
<!--  </div>-->

<!--  <div style="float: left" *ngIf="settingButtonPanel.filterList.visible">-->
<!--    <jqxTooltip [position]="'bottom'" [name]="'filterTooltip'"-->
<!--                [content]="'Открыть фильтр'">-->
<!--      <button [disabled]="settingButtonPanel.filterList.disabled"-->
<!--              (click)="filterList()"-->
<!--              appButtonSimpleStyle-->
<!--              [ngClass]="{'active':isFilterVisible}"-->
<!--      >-->
<!--        <i class="material-icons">filter_list</i>-->
<!--      </button>-->
<!--    </jqxTooltip>-->
<!--  </div>-->

<!--  <div style="float: left" *ngIf="settingButtonPanel.place.visible">-->
<!--    <jqxTooltip [position]="'bottom'" [name]="'placeTooltip'"-->
<!--                [content]="'Привязать объект к др. объекту'">-->
<!--      <button [disabled]="settingButtonPanel.place.disabled"-->
<!--              (click)="place()"-->
<!--              appButtonSimpleStyle-->
<!--      >-->
<!--        <i class="small material-icons">place</i>-->
<!--      </button>-->
<!--    </jqxTooltip>-->
<!--  </div>-->

<!--  <div style="float: left" *ngIf="settingButtonPanel.pinDrop.visible">-->
<!--    <jqxTooltip [position]="'bottom'" [name]="'pin_dropTooltip'"-->
<!--                [content]="'Отвязать объект от др. объекта'">-->
<!--      <button [disabled]="settingButtonPanel.pinDrop.disabled"-->
<!--              (click)="pinDrop()"-->
<!--              appButtonSimpleStyle-->
<!--      >-->
<!--        <i class="small material-icons">pin_drop</i>-->
<!--      </button>-->
<!--    </jqxTooltip>-->
<!--  </div>-->

<!--  <div style="float: left" *ngIf="settingButtonPanel.groupIn.visible">-->
<!--    <jqxTooltip [position]="'bottom'" [name]="'filterTooltip'"-->
<!--                [content]="'Добавить объект в группу'">-->
<!--      <button [disabled]="settingButtonPanel.groupIn.disabled"-->
<!--              appButtonSimpleStyle-->
<!--              (click)="groupIn()"-->
<!--      >-->
<!--        <i class="material-icons">file_download</i>-->
<!--      </button>-->
<!--    </jqxTooltip>-->
<!--  </div>-->

<!--  <div style="float: left" *ngIf="settingButtonPanel.groupOut.visible">-->
<!--    <jqxTooltip [position]="'bottom'" [name]="'filterTooltip'"-->
<!--                [content]="'Удалить объект из группы'">-->
<!--      <button [disabled]="settingButtonPanel.groupOut.disabled"-->
<!--              appButtonSimpleStyle-->
<!--              (click)="groupOut()"-->
<!--      >-->
<!--        <i class="material-icons">file_upload</i>-->
<!--      </button>-->
<!--    </jqxTooltip>-->
<!--  </div>-->

<!--  <div style="float: left" *ngIf="settingButtonPanel.switchOn.visible">-->
<!--    <jqxTooltip [position]="'bottom'" [name]="'addTooltip'"-->
<!--                [content]="'Добавить команду ВКЛ. группы светильников'">-->
<!--      <Button [disabled]="settingButtonPanel.switchOn.disabled"-->
<!--              (click)="switchOn()"-->
<!--              appButtonSimpleStyle-->
<!--      >-->
<!--        <i class="material-icons" style="color: orange">highlight</i>-->
<!--      </Button>-->
<!--    </jqxTooltip>-->
<!--  </div>-->

<!--  <div style="float: left" *ngIf="settingButtonPanel.switchOff.visible">-->
<!--    <jqxTooltip [position]="'bottom'" [name]="'switchOffTooltip'"-->
<!--                [content]="'Добавить команду ВЫКЛ. группы светильников'">-->
<!--      <Button [disabled]="settingButtonPanel.switchOff.disabled"-->
<!--              (click)="switchOff()"-->
<!--              appButtonSimpleStyle-->
<!--      >-->
<!--        <i class="material-icons">highlight</i>-->
<!--      </Button>-->
<!--    </jqxTooltip>-->
<!--  </div>-->
<!--</div>-->


<!--<jqxTooltip [position]="'bottom'"-->
<!--            [content]="ins">-->
<!--  <jqxButton #insButton-->
<!--             *ngIf="settingButtonPanel.add.visible"-->
<!--             style="float: left"-->
<!--             [theme]="'orange'"-->
<!--             [width]="60"-->
<!--             [height]="35"-->
<!--             [disabled]="insDisabled"-->
<!--             (click)="ins()"-->
<!--  >-->
<!--    <i class="material-icons">add</i>-->
<!--  </jqxButton>-->
<!--</jqxTooltip>-->


<div class="fr" style="height: 22px">
  <button *ngIf="settingButtonPanel.add.visible"
          mat-button
          matTooltip="{{'site.button.ins' | translate}}"
          matTooltipClass="tooltip"
          appButtonSimpleStyle
          appWavesDirective
          [disabled]="insDisabled || settingButtonPanel.add.disabled"
          (click)="ins()"
  >
    <i class="material-icons icon-setting">add</i>
  </button>

  <button *ngIf="settingButtonPanel.upd.visible"
          mat-button
          matTooltip="{{'site.button.upd' | translate}}"
          matTooltipClass="tooltip"
          appButtonSimpleStyle
          appWavesDirective
          [disabled]="updDisabled || settingButtonPanel.upd.disabled"
          (click)="upd()"
  >
    <i class="material-icons icon-setting">edit</i>
  </button>

  <button *ngIf="settingButtonPanel.del.visible"
          mat-button
          matTooltip="{{'site.button.del' | translate}}"
          matTooltipClass="tooltip"
          appButtonSimpleStyle
          appWavesDirective
          [disabled]="delDisabled || settingButtonPanel.del.disabled"
          (click)="del()"
  >
    <i class="material-icons icon-setting">delete</i>
  </button>

  <button *ngIf="settingButtonPanel.refresh.visible"
          mat-button
          matTooltip="{{'site.button.refresh' | translate}}"
          matTooltipClass="tooltip"
          appButtonSimpleStyle
          appWavesDirective
          [disabled]="refreshDisabled || settingButtonPanel.refresh.disabled"
          (click)="refresh()"
  >
    <i class="material-icons icon-setting">refresh</i>
  </button>

  <button *ngIf="settingButtonPanel.setting.visible"
          mat-button
          matTooltip="{{'site.button.setting' | translate}}"
          matTooltipClass="tooltip"
          appButtonSimpleStyle
          appWavesDirective
          [disabled]="settingDisabled || settingButtonPanel.setting.disabled"
          (click)="setting()"
  >
    <i class="material-icons icon-setting">settings</i>
  </button>

  <button *ngIf="settingButtonPanel.filterList.visible"
          mat-button
          matTooltip="{{'site.button.filterList' | translate}}"
          matTooltipClass="tooltip"
          appButtonSimpleStyle
          appWavesDirective
          [disabled]="filterListDisabled || settingButtonPanel.filterList.disabled"
          (click)="filterList()"
  >
    <i class="material-icons icon-setting">filter_list</i>
  </button>

  <button *ngIf="settingButtonPanel.place.visible"
          mat-button
          matTooltip="{{'site.button.place' | translate}}"
          matTooltipClass="tooltip"
          appButtonSimpleStyle
          appWavesDirective
          [disabled]="placeDisabled || settingButtonPanel.place.disabled"
          (click)="place()"
  >
    <i class="material-icons icon-setting">place</i>
  </button>

  <button *ngIf="settingButtonPanel.pinDrop.visible"
          mat-button
          matTooltip="{{'site.button.pinDrop' | translate}}"
          matTooltipClass="tooltip"
          appButtonSimpleStyle
          appWavesDirective
          [disabled]="pinDropDisabled || settingButtonPanel.pinDrop.disabled"
          (click)="pinDrop()"
  >
    <i class="material-icons icon-setting">pin_drop</i>
  </button>

  <button *ngIf="settingButtonPanel.groupIn.visible"
          mat-button
          matTooltip="{{'site.button.groupIn' | translate}}"
          matTooltipClass="tooltip"
          appButtonSimpleStyle
          appWavesDirective
          [disabled]="groupInDisabled || settingButtonPanel.groupIn.disabled"
          (click)="groupIn()"
  >
    <i class="material-icons icon-setting">file_download</i>
  </button>

  <button *ngIf="settingButtonPanel.groupOut.visible"
          mat-button
          matTooltip="{{'site.button.groupOut' | translate}}"
          matTooltipClass="tooltip"
          appButtonSimpleStyle
          appWavesDirective
          [disabled]="groupOutDisabled || settingButtonPanel.groupOut.disabled"
          (click)="groupOut()"
  >
    <i class="material-icons icon-setting">file_upload</i>
  </button>

  <button *ngIf="settingButtonPanel.switchOn.visible"
          mat-button
          matTooltip="{{'site.button.switchOn' | translate}}"
          matTooltipClass="tooltip"
          appButtonSimpleStyle
          appWavesDirective
          [disabled]="switchOnDisabled || settingButtonPanel.switchOn.disabled"
          (click)="switchOn()"
  >
    <i class="material-icons icon-setting" style="color: orange">highlight</i>
  </button>

  <button *ngIf="settingButtonPanel.switchOff.visible"
          mat-button
          matTooltip="{{'site.button.switchOff' | translate}}"
          matTooltipClass="tooltip"
          appButtonSimpleStyle
          appWavesDirective
          [disabled]="switchOffDisabled || settingButtonPanel.switchOff.disabled"
          (click)="switchOff()"
  >
    <i class="material-icons icon-setting">highlight</i>
  </button>
</div>


