<div class="fr">

  <div *ngIf="settingButtonPanel.add.visible">
    <jqxTooltip [position]="'bottom'" #tooltipAdd
                [content]="'Добавить светильник'">
      <Button [disabled]="settingButtonPanel.add.disabled"
              (click)="ins()"
              appButtonSimpleStyle
      >
        <i class="material-icons">add</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="settingButtonPanel.upd.visible">
    <jqxTooltip [position]="'bottom'" [name]="'updTooltip'"
                [content]="'Редактировать светильник'">
      <Button [disabled]="settingButtonPanel.upd.disabled"
              (click)="upd()"
              appButtonSimpleStyle
      >
        <i class="material-icons">edit</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="settingButtonPanel.del.visible">
    <jqxTooltip [position]="'bottom'" [name]="'delTooltip'"
                [content]="'Удалить светильник'">
      <Button [disabled]="settingButtonPanel.del.disabled"
              (click)="del()"
              appButtonSimpleStyle
      >
        <i class="material-icons">delete</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="settingButtonPanel.refresh.visible">
    <jqxTooltip [position]="'bottom'" [name]="'refreshTooltip'"
                [content]="'Обновить таблицу'">
      <button [disabled]="settingButtonPanel.refresh.disabled"
              (click)="refresh()"
              appButtonSimpleStyle
      >
        <i class="small material-icons">refresh</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="settingButtonPanel.filterNone.visible">
    <jqxTooltip [position]="'bottom'" [name]="'fieldTooltip'"
                [content]="'Открыть фильтр по полям таблицы'">
      <button [disabled]="settingButtonPanel.filterNone.disabled"
              (click)="filterNone()"
              appButtonSimpleStyle
      >
        <i class="material-icons">filter_none</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="settingButtonPanel.filterList.visible">
    <jqxTooltip [position]="'bottom'" [name]="'filterTooltip'"
                [content]="'Открыть фильтр'">
      <button [disabled]="settingButtonPanel.filterList.disabled"
              (click)="filterList()"
              appButtonSimpleStyle
              [ngClass]="{'active':isFilterVisible}"
      >
        <i class="material-icons">filter_list</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="settingButtonPanel.place.visible">
    <jqxTooltip [position]="'bottom'" [name]="'placeTooltip'"
                [content]="'Привязать светильник к узлу/столбу'">
      <button [disabled]="settingButtonPanel.place.disabled"
              (click)="place()"
              appButtonSimpleStyle
      >
        <i class="small material-icons">place</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="settingButtonPanel.pinDrop.visible">
    <jqxTooltip [position]="'bottom'" [name]="'pin_dropTooltip'"
                [content]="'Отвязать светильник от узла/столба'">
      <button [disabled]="settingButtonPanel.pinDrop.disabled"
              (click)="pinDrop()"
              appButtonSimpleStyle
      >
        <i class="small material-icons">pin_drop</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="settingButtonPanel.groupIn.visible">
    <jqxTooltip [position]="'bottom'" [name]="'filterTooltip'"
                [content]="'Добавить светильники в группу'">
      <button [disabled]="settingButtonPanel.groupIn.disabled"
              appButtonSimpleStyle
              (click)="groupIn()"
      >
        <i class="material-icons">file_download</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="settingButtonPanel.groupOut.visible">
    <jqxTooltip [position]="'bottom'" [name]="'filterTooltip'"
                [content]="'Удалить светильники из группы'">
      <button [disabled]="settingButtonPanel.groupOut.disabled"
              appButtonSimpleStyle
              (click)="groupOut()"
      >
        <i class="material-icons">file_upload</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="settingButtonPanel.switchOn.visible">
    <jqxTooltip [position]="'bottom'" [name]="'addTooltip'"
                [content]="'Добавить команду ВКЛ. группы светильников'">
      <Button [disabled]="settingButtonPanel.switchOn.disabled"
              (click)="switchOn()"
              appButtonSimpleStyle
      >
        <i class="material-icons" style="color: orange">highlight</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="settingButtonPanel.switchOff.visible">
    <jqxTooltip [position]="'bottom'" [name]="'switchOffTooltip'"
                [content]="'Добавить команду ВЫКЛ. группы светильников'">
      <Button [disabled]="settingButtonPanel.switchOff.disabled"
              (click)="switchOff()"
              appButtonSimpleStyle
      >
        <i class="material-icons" >highlight</i>
      </Button>
    </jqxTooltip>
  </div>
</div>
