<jqxWindow #eventWindow
           [theme]="'material'"
           [autoOpen]="false"
           [isModal]="true" [modalOpacity]="0.3"
           [width]="365" [minWidth]="365" [maxWidth]="365"
           [height]="200" [minHeight]="200" [maxHeight]="200"
           [cancelButton]="'.cancel'" [okButton]="'.ok'" [resizable]="false"
           [position]="{ x: 500, y: 200 }"
           [hidden]="true"
>
  <div>
    <i class="material-icons">warning</i>
  </div>
  <div>
    <jqxTextArea
      [theme]="'material'"
      [width]="353"
      [height]="110"
      [(ngModel)]=warning
    >
    </jqxTextArea>
    <div style="margin: 5px 0px 0px 97px">
      <jqxButton #okButton
                 class="ok"
                 [theme]="'material'"
                 [width]="80"
                 (onClick)="okEvenwinBtn()"
      >
        {{'site.forms.editforms.ok' | translate}}
      </jqxButton>
      <jqxButton #cancelButton
                 class="cancel"
                 style="margin-left: 5px"
                 [theme]="'material'"
                 [width]="80"
                 (onClick)="cancelEvenwinBtn()"
      >
        {{'site.forms.editforms.cancel' | translate}}
      </jqxButton>
    </div>

  </div>
</jqxWindow>


