<div *ngIf="siteMap[0].children[2].children[0].children[0].disabled === false; else notRightComponent">
  <app-button-panel #buttonPanel
                    [settingButtonPanel]="settingButtonPanel"
                    (onIns)="ins()"
                    (onUpd)="upd()"
                    (onDel)="del()"
                    (onRefresh)="refresh()"
                    (onSetting)="setting()"
                    (onFilterList)="filterList()"
                    (onPlace)="place()"
                    (onPinDrop)="pinDrop()"
                    (onGroupIn)="groupIn()"
                    (onGroupOut)="groupOut()"
                    (onSwitchOn)="switchOn()"
                    (onSwitchOff)="switchOff()"
                    [insDisabled]="siteMap[0].children[2].children[0].children[0].children[0].disabled"
                    [updDisabled]="siteMap[0].children[2].children[0].children[0].children[1].disabled"
                    [delDisabled]="siteMap[0].children[2].children[0].children[0].children[2].disabled"
                    [placeDisabled]="siteMap[0].children[2].children[0].children[0].children[3].disabled"
                    [pinDropDisabled]="siteMap[0].children[2].children[0].children[0].children[4].disabled"
  ></app-button-panel>

  <app-filter-table #filterForm
                    *ngIf="isFilterFormInit"
                    [sourceForFilter]="sourceForFilter"
                    [isMasterGrid]="isMasterGrid"
                    [coordinateX]="null"
                    [coordinateY]="null"
                    (onDestroyFilterForm)="destroyFilterForm()"
                    (onFilter)="applyFilterFromFilter($event)"
  ></app-filter-table>

  <label><b>{{'site.filter.filter' | translate}}: </b>{{filterSelect}}</label>

  <div *ngIf="!reloading; else reloadingBlock">
    <!--*ngIf="nodes.length > 0; else empty"-->
    <div>
      <app-jqxgrid #jqxgridComponent
                   [columnsGrid]="columnsGrid"
                   [listBoxSource]="listBoxSource"
                   [sourceForJqxGrid]="sourceForJqxGrid"
                   (onGetSourceForJqxGrid)="getSourceForJqxGrid()"
                   (onRefreshChildGrid)="refreshChildGrid($event)"
      ></app-jqxgrid>
      <div
        class="center mb2"
        *ngIf="!noMoreItems; else"
      >
        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>
      </div>
    </div>
    <ng-template #empty>
      <div class="center">{{'site.grid.not-rows' | translate}}</div>
    </ng-template>
  </div>

  <ng-template #reloadingBlock>
    <app-loader></app-loader>
  </ng-template>

  <app-edit-form #editForm
                 *ngIf="isEditFormInit"
                 [settingWinForEditForm]="settingWinForEditForm"
                 [sourceForEditForm]="sourceForEditForm"
                 (onGetSourceForEditForm)="getSourceForEditForm()"
                 (onDestroyEditForm)="destroyEditForm()"
                 (onSaveEditFormBtn)="saveEditFormBtn()"
  ></app-edit-form>

  <app-link-form #linkForm
                 *ngIf="isLinkFormInit"
                 [sourceForLinkForm]="sourceForLinkForm"
                 (onGetSourceForLinkForm)="getSourceForLinkForm()"
                 (onDestroyLinkForm)="destroyLinkForm()"
                 (onSaveLinkFormBtn)="saveLinkFormBtn($event)"
  ></app-link-form>

  <app-event-window #eventWindow
                    [warning]="warningEventWindow"
                    (onOkEvenwinBtn)="okEvenwinBtn()"
  ></app-event-window>
</div>

<ng-template #notRightComponent>
  <app-not-right
    [message]="translate.instant('site.menu.operator.gateway-page.gateway-masterdetails-page.gatewaylist-page.gatewaylist-page')"
  >
  </app-not-right>
</ng-template>
