<h6 style="margin: 0px 2px 2px 2px; text-align: center"
    appBackgroundLightorangeDirective
>{{getHeadline()}}</h6>

<div>
  <div *ngIf="(this.router.url === '/dictionary/contragent/companies')"
       class="table_border">
    <app-simple-dictionary #companies
                           [typeDictionary]="dictionaryCompanies"
                           [sourceForJqxGrid]="sourceForJqxGridCompanies"
                           [settingWinForEditForm]="settingWinForEditFormCompanies"
                           [sourceForEditForm]="sourceForEditFormCompanies"

                           [orgForms]="orgForms"

                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditwinBtn)="saveEditwinBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div *ngIf="(this.router.url === '/dictionary/contragent/persons')"
       class="table_border">
    <app-simple-dictionary #persons
                           [typeDictionary]="dictionaryPersons"
                           [sourceForJqxGrid]="sourceForJqxGridPersons"
                           [settingWinForEditForm]="settingWinForEditFormPersons"
                           [sourceForEditForm]="sourceForEditFormPersons"

                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditwinBtn)="saveEditwinBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div *ngIf="(this.router.url === '/dictionary/contragent/substations')"
       class="table_border">
    <app-simple-dictionary #substations
                           [typeDictionary]="dictionarySubstations"
                           [sourceForJqxGrid]="sourceForJqxGridSubstations"
                           [settingWinForEditForm]="settingWinForEditFormSubstations"
                           [sourceForEditForm]="sourceForEditFormSubstations"

                           [orgForms]="orgForms"

                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditwinBtn)="saveEditwinBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>
</div>
