<jqxWindow #rightDemoForm
           [theme]=theme
           [autoOpen]="true"
           [isModal]="false"
           [modalOpacity]="0.3"
           [width]="1000"
           [height]="610"
           [showCloseButton]="false"
           [showCollapseButton]="true"
           [keyboardCloseKey]="''"
>
  <div>
    <i class="material-icons">thumb_up</i>
  </div>
  <div>
    <app-roleright-page #rolerightPageComponent
                        [theme]="theme"
                        [siteMap]="siteMap"
                        [roleSiteMap]="roleSiteMap"
                        [heightSplitterRoleright]="heightSplitterRoleright"
                        [heightGridRoleright]="heightGridRoleright"
                        [companies]="companies"
    ></app-roleright-page>
    <jqxButton #closeButton
               style="margin: 5px 0px 5px 450px"
               [theme]="theme"
               [width]="100"
               (onClick)="closeDestroy()"
    >
      {{ 'site.forms.editforms.close' | translate }}
    </jqxButton>
  </div>
</jqxWindow>


