<app-button-panel #buttonPanel
                  [settingButtonPanel]="settingButtonPanel"
                  (onIns)="ins()"
                  (onUpd)="upd()"
                  (onDel)="del()"
                  (onRefresh)="refresh()"
></app-button-panel>

<div *ngIf="!reloading; else reloadingBlock">
  <div>
    <app-jqxgrid #jqxgridComponent
                 [columnsGrid]="columnsGrid"
                 [listBoxSource]="listBoxSource"
                 [sourceForJqxGrid]="sourceForJqxGrid"
                 (onGetSourceForJqxGrid)="getSourceForJqxGrid()"
    ></app-jqxgrid>
  </div>
  <ng-template #empty>
    <div class="center">{{'site.grid.not-rows' | translate}}</div>
  </ng-template>
</div>

<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>

<app-edit-form #editForm
               *ngIf="isEditFormInit"
               [settingWinForEditForm]="settingWinForEditForm"
               [sourceForEditForm]="sourceForEditForm"
               (onGetSourceForEditForm)="getSourceForEditForm()"
               (onDestroyEditForm)="destroyEditForm()"
               (onSaveEditFormBtn)="saveEditFormBtn()"
></app-edit-form>

<app-event-window #eventWindow
                  [warning]="warningEventWindow"
                  (onOkEvenwinBtn)="okEvenwinBtn()"
></app-event-window>
