<app-gatewaylist-page #gatewaylistPageComponent

                      [geographs]="geographs"
                      [ownerGateways]="ownerGateways"
                      [gatewayTypes]="gatewayTypes"
                      [contractGateways]="contractGateways"

                      [heightGrid]="300"
                      [isMasterGrid]="true"

                      [settingButtonPanel]="settingGatewayButtonPanel"

                      (onRefreshChildGrid)="refreshChildGrid($event)"
                      (onRefreshMap)="refreshMap()"
></app-gatewaylist-page>

<jqxTabs
  [theme]="'material'"
>
  <ul>
    <li style="margin-left: 30px">Группа узлов шлюза</li>
  </ul>
  <div style="overflow: hidden">
    <app-nodelist-page #nodelistPageComponent

                       [geographs]="geographs"
                       [ownerNodes]="ownerNodes"
                       [nodeTypes]="nodeTypes"
                       [contractNodes]="contractNodes"

                       [heightGrid]="320"
                       [selectGatewayId]="selectGatewayId"
                       [selectionmode]="'checkbox'"
                       [isMasterGrid]="false"

                       [settingButtonPanel]="settingNodeButtonPanel"

    ></app-nodelist-page>
  </div>
</jqxTabs>

<!--[nodeSortcolumn]="nodeSortcolumn"-->
<!--[nodeColumns]="nodeColumns"-->
<!--[nodeListBoxSource]="nodeListBoxSource"-->
