<jqxTabs
  [theme]="'material'"
  [width]="'99%'"
  (onSelected)="selected($event)"
>
  <ul>
    <li style="margin-left: 30px">Узлы/столбы</li>
    <li>Карта</li>
  </ul>
  <div style="overflow: hidden">
    <app-node-masterdetails-page #nodeMasterdetailsPageComponent

                                 [geographs]="geographs"

                                 [ownerNodes]="ownerNodes"
                                 [nodeTypes]="nodeTypes"
                                 [contractNodes]="contractNodes"

                                 [ownerFixtures]="ownerFixtures"
                                 [fixtureTypes]="fixtureTypes"
                                 [substations]="substations"
                                 [contractFixtures]="contractFixtures"
                                 [installers]="installers"
                                 [heightTypes]="heightTypes"

                                 [ownerGateways]="ownerGateways"
                                 [gatewayTypes]="gatewayTypes"
                                 [contractGateways]="contractGateways"

                                 [ownerSensors]="ownerSensors"
                                 [sensorTypes]="sensorTypes"
                                 [contractSensors]="contractSensors"

                                 (onRefreshMap)="refreshMap()"
    ></app-node-masterdetails-page>
  </div>
  <div style="overflow: hidden">
    <app-nodemap-page #nodemapPageComponent
                      [geographs]="geographs"
                      [ownerNodes]="ownerNodes"
                      [nodeTypes]="nodeTypes"
                      [contractNodes]="contractNodes"

                      (onRefreshGrid)="refreshGrid()"
    ></app-nodemap-page>
  </div>
</jqxTabs>



