<h6 style="margin: 0px 2px 2px 2px; text-align: center"
    appBackgroundLightorangeDirective
>{{getHeadline()}}</h6>

<div>
  <div *ngIf="(this.router.url === '/handbook/contract/contracts')"
       class="table_border">
    <app-simple-handbook #contract
                         [typeHandBook]="handBookContracts"
                         [sourceForJqxGrid]="sourceForJqxGridContracts"
                         [settingWinForEditForm]="settingWinForEditFormContracts"
                         [sourceForEditForm]="sourceForEditFormContracts"

                         [companies]="companies"
                         [contractTypes]="this.sourceForJqxGridContractTypes.grid.source"

                         (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                         (onSaveEditwinBtn)="saveEditwinBtn($event)"
                         (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-handbook>
  </div>

  <div *ngIf="(this.router.url === '/handbook/contract/contracts-types')"
       class="table_border">
    <app-simple-handbook #contractType
                         [typeHandBook]="handBookContractTypes"
                         [sourceForJqxGrid]="sourceForJqxGridContractTypes"
                         [settingWinForEditForm]="settingWinForEditFormContractTypes"
                         [sourceForEditForm]="sourceForEditFormContractTypes"

                         (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                         (onSaveEditwinBtn)="saveEditwinBtn($event)"
                         (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-handbook>
  </div>
</div>
