<div class="fr">
  <div *ngIf="isAdd">
    <jqxTooltip [position]="'bottom'" [name]="'addTooltip'"
                [content]="'Добавить узел/столб'">
      <Button [disabled]="isAddBtnDisabled"
              (click)="ins()"
              appButtonSimpleStyle
      >
        <i class="material-icons">add</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="isUpdate">
    <jqxTooltip [position]="'bottom'" [name]="'updTooltip'"
                [content]="'Редактировать узел/столб'">
      <Button [disabled]="isEditBtnDisabled"
              (click)="upd()"
              appButtonSimpleStyle
      >
        <i class="material-icons">edit</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="isDelete">
    <jqxTooltip [position]="'bottom'" [name]="'delTooltip'"
                [content]="'Удалить узел/столб'">
      <Button [disabled]="isDeleteBtnDisabled"
              (click)="del()"
              appButtonSimpleStyle
      >
        <i class="material-icons">delete</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="isRefresh">
    <jqxTooltip [position]="'bottom'" [name]="'refreshTooltip'"
                [content]="'Обновить таблицу'">
      <button [disabled]="isRefreshBtnDisabled"
              (click)="refreshGrid()"
              appButtonSimpleStyle
      >
        <i class="small material-icons">refresh</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="isFilter_none">
    <jqxTooltip [position]="'bottom'" [name]="'fieldTooltip'"
                [content]="'Открыть фильтр по полям таблицы'">
      <button [disabled]="isFilter_noneBtnDisabled"
              (click)="nodelistJqxgridComponent.islistBoxVisible = !nodelistJqxgridComponent.islistBoxVisible"
              appButtonSimpleStyle
      >
        <i class="material-icons">filter_none</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="isFilter_list">
    <jqxTooltip [position]="'bottom'" [name]="'filterTooltip'"
                [content]="'Открыть фильтр'">
      <button [disabled]="isFilter_listBtnDisabled"
              (click)="isFilterVisible = !isFilterVisible"
              appButtonSimpleStyle
              [ngClass]="{
      'active':isFilterVisible
    }"
      >
        <i class="material-icons">filter_list</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="isPlace">
    <jqxTooltip [position]="'bottom'" [name]="'placeTooltip'"
                [content]="'Привязать узел/столб к шлюзу'">
      <button [disabled]="isPlaceBtnDisabled"
              (click)="place()"
              appButtonSimpleStyle
      >
        <i class="small material-icons">place</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="isPin_drop">
    <jqxTooltip [position]="'bottom'" [name]="'pin_dropTooltip'"
                [content]="'Отвязать узел/столб от шлюза'">
      <button [disabled]="isPin_dropBtnDisabled"
              (click)="pin_drop()"
              appButtonSimpleStyle
      >
        <i class="small material-icons">pin_drop</i>
      </button>
    </jqxTooltip>
  </div>

</div>

<app-nodelist-filter
  *ngIf="isFilterVisible"
  (onFilter)="applyFilter($event)"
  [geographs]="geographs"
  [ownerNodes]="ownerNodes"
  [nodeTypes]="nodeTypes"
></app-nodelist-filter>

<div *ngIf="!reloading; else reloadingBlock">
  <!--*ngIf="nodes.length > 0; else empty"-->
  <div>
    <app-nodelist-jqxgrid #nodelistJqxgridComponent
                          [nodes]="nodes"
                          [geographs]="geographs"
                          [ownerNodes]="ownerNodes"
                          [nodeTypes]="nodeTypes"
                          [contractNodes]="contractNodes"
                          [nodeSortcolumn]="nodeSortcolumn"
                          [nodeColumns]="nodeColumns"
                          [nodeListBoxSource]="nodeListBoxSource"

                          [heightGrid]="heightGrid"
                          [selectionmode]="selectionmode"
                          [selectGatewayId]="selectGatewayId"
                          [isMasterGrid]="isMasterGrid"

                          (onRefreshGrid)="refreshGrid()"
                          (onRefreshChildGrid)="refreshChildGrid($event)"
    ></app-nodelist-jqxgrid>
    <div
      class="center mb2"
      *ngIf="!noMoreNodes; else "
    >
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
  <ng-template #empty>
    <div class="center">Узлов пока нет</div>
  </ng-template>
</div>

<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>
