<h6 style="margin: 0px 2px 2px 2px; text-align: center"
    appBackgroundLightorangeDirective
>{{getHeadline()}}</h6>

<div>
  <div *ngIf="this.router.url === '/dictionary/contragent/companies'"
       class="table_border">
    <app-simple-dictionary #companies
                           *ngIf="this.translate.currentLang === 'ru'"
                           [typeDictionary]="dictionaryCompanies"
                           [columnsGrid]="columnsGridCompanies"
                           [listBoxSource]="listBoxSourceCompanies"
                           [sourceForJqxGrid]="sourceForJqxGridCompanies"
                           [settingWinForEditForm]="settingWinForEditFormCompanies"
                           [sourceForEditForm]="sourceForEditFormCompanies"
                           [orgForms]="orgForms"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
    <app-simple-dictionary #companies
                           *ngIf="this.translate.currentLang === 'en'"
                           [typeDictionary]="dictionaryCompanies"
                           [columnsGrid]="columnsGridCompaniesEng"
                           [listBoxSource]="listBoxSourceCompaniesEng"
                           [sourceForJqxGrid]="sourceForJqxGridCompanies"
                           [settingWinForEditForm]="settingWinForEditFormCompanies"
                           [sourceForEditForm]="sourceForEditFormCompaniesEng"
                           [orgForms]="orgForms"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div *ngIf="this.router.url === '/dictionary/contragent/persons'"
       class="table_border">
    <app-simple-dictionary #persons
                           *ngIf="this.translate.currentLang === 'ru'"
                           [typeDictionary]="dictionaryPersons"
                           [columnsGrid]="columnsGridPersons"
                           [listBoxSource]="listBoxSourcePersons"
                           [sourceForJqxGrid]="sourceForJqxGridPersons"
                           [settingWinForEditForm]="settingWinForEditFormPersons"
                           [sourceForEditForm]="sourceForEditFormPersons"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
    <app-simple-dictionary #persons
                           *ngIf="this.translate.currentLang === 'en'"
                           [typeDictionary]="dictionaryPersons"
                           [columnsGrid]="columnsGridPersonsEng"
                           [listBoxSource]="listBoxSourcePersonsEng"
                           [sourceForJqxGrid]="sourceForJqxGridPersons"
                           [settingWinForEditForm]="settingWinForEditFormPersons"
                           [sourceForEditForm]="sourceForEditFormPersonsEng"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div *ngIf="this.router.url === '/dictionary/contragent/substations'"
       class="table_border">
    <app-simple-dictionary #substations
                           *ngIf="this.translate.currentLang === 'ru'"
                           [typeDictionary]="dictionarySubstations"
                           [columnsGrid]="columnsGridSubstations"
                           [listBoxSource]="listBoxSourceSubstations"
                           [sourceForJqxGrid]="sourceForJqxGridSubstations"
                           [settingWinForEditForm]="settingWinForEditFormSubstations"
                           [sourceForEditForm]="sourceForEditFormSubstations"
                           [orgForms]="orgForms"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
    <app-simple-dictionary #substations
                           *ngIf="this.translate.currentLang === 'en'"
                           [typeDictionary]="dictionarySubstations"
                           [columnsGrid]="columnsGridSubstationsEng"
                           [listBoxSource]="listBoxSourceSubstationsEng"
                           [sourceForJqxGrid]="sourceForJqxGridSubstations"
                           [settingWinForEditForm]="settingWinForEditFormSubstations"
                           [sourceForEditForm]="sourceForEditFormSubstationsEng"
                           [orgForms]="orgForms"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>
</div>
