<h6 style="margin: 0px 2px 2px 2px; text-align: center"
    appBackgroundLightorangeDirective
>{{getHeadline()}}</h6>

<div>
  <div *ngIf="siteMap[1].children[1].children[0].disabled === false"
       [hidden]="!(this.router.url === '/dictionary/contragent/companies')"
       class="table_border">
    <app-simple-dictionary #companiesSimpleDictionary
                           [typeDictionary]="dictionaryCompanies"
                           [columnsGrid]="columnsGridCompanies"
                           [listBoxSource]="listBoxSourceCompanies"
                           [sourceForJqxGrid]="sourceForJqxGridCompanies"
                           [settingWinForEditForm]="settingWinForEditFormCompanies"
                           [sourceForEditForm]="sourceForEditFormCompanies"
                           [orgForms]="orgForms"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div *ngIf="siteMap[1].children[1].children[1].disabled === false"
       [hidden]="!(this.router.url === '/dictionary/contragent/substations')"
       class="table_border">
    <app-simple-dictionary #substationsSimpleDictionary
                           [typeDictionary]="dictionarySubstations"
                           [columnsGrid]="columnsGridSubstations"
                           [listBoxSource]="listBoxSourceSubstations"
                           [sourceForJqxGrid]="sourceForJqxGridSubstations"
                           [settingWinForEditForm]="settingWinForEditFormSubstations"
                           [sourceForEditForm]="sourceForEditFormSubstations"
                           [orgForms]="orgForms"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>

  <div *ngIf="siteMap[1].children[1].children[2].disabled === false"
       [hidden]="!(this.router.url === '/dictionary/contragent/persons')"
       class="table_border">
    <app-simple-dictionary #personsSimpleDictionary
                           [typeDictionary]="dictionaryPersons"
                           [columnsGrid]="columnsGridPersons"
                           [listBoxSource]="listBoxSourcePersons"
                           [sourceForJqxGrid]="sourceForJqxGridPersons"
                           [settingWinForEditForm]="settingWinForEditFormPersons"
                           [sourceForEditForm]="sourceForEditFormPersons"
                           (onGetSourceForJqxGrid)="getSourceForJqxGrid($event)"
                           (onSaveEditFormBtn)="saveEditFormBtn($event)"
                           (onOkEvenwinBtn)="okEvenwinBtn($event)"
    ></app-simple-dictionary>
  </div>
</div>
