<jqxWindow #editWindow
           [theme]="'material'"
           [autoOpen]="false"
           [isModal]="true" [modalOpacity]="0.3"
           [width]="460" [maxWidth]="460" [minWidth]="460"
           [height]="470" [maxHeight]="470" [minHeight]="470"

>
  <div #windowHeader>
    <div class="fr">
      <!--<i class="material-icons">add</i>-->
      <b>Редактировать шлюз</b>
    </div>
  </div>

  <div>
    <table>
      <tr>
        <td align="right"><b>Договор:</b></td>
        <td align="left">
          <jqxDropDownList #contractId
                           [theme]="'material'"
                           [width]="280"
                           [height]="20"
                           [source]="dataAdapter_contract"
                           [displayMember]="'code'"
                           [valueMember]="'id'"
                           [selectedIndex]="contractId_index"
                           [filterable]="true"

          >
          </jqxDropDownList>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Тип шлюза:</b></td>
        <td align="left">
          <jqxDropDownList #gatewayTypeId
                           [theme]="'material'"
                           [width]="280"
                           [height]="20"
                           [source]="dataAdapter_gatewayType"
                           [displayMember]="'code'"
                           [valueMember]="'id'"
                           [selectedIndex]="gatewayTypeId_index"
                           [filterable]="true"

          >
          </jqxDropDownList>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Наимен. гр. узлов:</b></td>
        <td align="left">
          <jqxTextArea
            [theme]="'material'"
            [width]="280" [height]="50"
            [(ngModel)]="saveGateway.nodeGroupName"
          >
          </jqxTextArea>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Серийный номер:</b></td>
        <td align="left">
          <jqxTextArea
            [theme]="'material'"
            [width]="280" [height]="50"
            [(ngModel)]="saveGateway.serialNumber"
          >
          </jqxTextArea>
        </td>
      </tr>

      <tr>
        <td align="right"><b>Комментарий:</b></td>
        <td align="left">
          <jqxTextArea
            [theme]="'material'"
            [width]="280" [height]="50"
            [(ngModel)]="saveGateway.comment"
          >
          </jqxTextArea>
        </td>
      </tr>

      <tr>
        <td align="right"></td>
        <td style="padding-top: 10px;" align="right">
          <jqxButton #okButton class="ok waves-effect waves-orange white blue-text" style="margin-right: 5px;"
                     [width]="80"
                     (onClick)="saveBtn()"
          >
            Сохранить
          </jqxButton>
          <jqxButton #cancelButton class="cancel waves-effect waves-orange white blue-text" style="margin-right: 5px;"
                     [width]="80"
                     (onClick)="cancelBtn()"
          >
            Отмена
          </jqxButton>
        </td>
      </tr>
    </table>
  </div>

</jqxWindow>
