<nav>
  <div class="nav-wrapper grey darken-1">
    <!--<a routerLink="http://eireenlight.ru/home" class="brand-logo">Light</a>-->
    <div class="brand-logo button-top-menu">
      <a href="http://eireenlight.ru/home"><img class="button-top-menu" src="pictures/eireenlight.jpg"></a>
    </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <span>
          <button mat-button
                  appWavesDirective
                  appBackgroundLightgreyDirective
                  style="margin-right: 10px"
                  (click)="switchLanguage()"
          >
            <mat-icon>language</mat-icon>
            {{ language }}
          </button>
        </span>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/login">{{ 'site.auth.enter' | translate }}</a>
      </li>
      <!--<li routerLinkActive="active">-->
      <!--<a routerLink="/register">Регистрация</a>-->
      <!--</li>-->
    </ul>
  </div>
</nav>

<div class="auth-block">
  <router-outlet></router-outlet>
</div>
