<app-button-panel #buttonPanel
                  [settingButtonPanel]="settingButtonPanel"
                  (onIns)="ins()"
                  (onUpd)="upd()"
                  (onDel)="del()"
                  (onRefresh)="refresh()"
                  (onFilterNone)="filterNone()"
                  (onFilterList)="filterList()"
                  (onPlace)="place()"
                  (onPinDrop)="pinDrop()"
                  (onGroupIn)="groupIn()"
                  (onGroupOut)="groupOut()"
                  (onSwitchOn)="switchOn()"
                  (onSwitchOff)="switchOff()"
></app-button-panel>

<app-filter-table #filterTable
                  *ngIf="isFilterVisible"
                  [sourceForFilter]="sourceForFilter"
                  (onFilter)="applyFilterFromFilter($event)"
                  (onInitSourceFilter)="initSourceFilter()"
></app-filter-table>

<div *ngIf="!reloading; else reloadingBlock">
  <!--*ngIf="fixtures.length > 0; else empty"-->
  <div>
    <app-jqxgrid #jqxgridComponent
                 [sourceForJqxGrid]="sourceForJqxGrid"
                 (onGetSourceForJqxGrid)="getSourceForJqxGrid()"
                 (onRefreshChildGrid)="refreshChildGrid($event)"
    ></app-jqxgrid>
    <div
      class="center mb2"
      *ngIf="!noMoreItems; else "
    >
      <!--<button-->
      <!--class="btn waves-effect grey darken-1 btn-small"-->
      <!--(click)="loadMore()"-->
      <!--*ngIf="!loading; else loader"-->
      <!--&gt;-->
      <!--Загрузить еще-->
      <!--</button>-->
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
  <ng-template #empty>
    <div class="center">Датчиков пока нет</div>
  </ng-template>
</div>

<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>

<app-edit-form #editWindow
               *ngIf="isEditFormVisible"
               [settingWinForEditForm]="settingWinForEditForm"
               [sourceForEditForm]="sourceForEditForm"

               (onGetSourceForEditForm)="getSourceForEditForm()"
               (onSetEditFormVisible)="setEditFormVisible()"
               (onSaveEditwinBtn)="saveEditwinBtn()"
></app-edit-form>

<app-link-form #linkWindow
               [sourceForLinkForm]="sourceForLinkForm"
               (onGetSourceForLinkForm)="getSourceForLinkForm()"
               (onSaveLinkwinBtn)="saveLinkwinBtn($event)"
></app-link-form>

<app-event-window #eventWindow
                  [warning]="warningEventWindow"
                  (onOkEvenwinBtn)="okEvenwinBtn()"
></app-event-window>
