<div class="fr">

  <div *ngIf="isAdd">
    <jqxTooltip [position]="'bottom'" [name]="'addTooltip'"
                [content]="'Добавить датчик'">
      <Button [disabled]="isAddBtnDisabled"
              (click)="ins()"
              appButtonSimpleStyle
      >
        <i class="material-icons">add</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="isUpdate">
    <jqxTooltip [position]="'bottom'" [name]="'updTooltip'"
                [content]="'Редактировать датчик'">
      <Button [disabled]="isEditBtnDisabled"
              (click)="upd()"
              appButtonSimpleStyle
      >
        <i class="material-icons">edit</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="isDelete">
    <jqxTooltip [position]="'bottom'" [name]="'delTooltip'"
                [content]="'Удалить датчик'">
      <Button [disabled]="isDeleteBtnDisabled"
              (click)="del()"
              appButtonSimpleStyle
      >
        <i class="material-icons">delete</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="isRefresh">
    <jqxTooltip [position]="'bottom'" [name]="'refreshTooltip'"
                [content]="'Обновить таблицу'">
      <button [disabled]="isRefreshBtnDisabled"
              (click)="refreshGrid()"
              appButtonSimpleStyle
      >
        <i class="small material-icons">refresh</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="isFilter_none">
    <jqxTooltip [position]="'bottom'" [name]="'fieldTooltip'"
                [content]="'Открыть фильтр по полям таблицы'">
      <button [disabled]="isFilter_noneBtnDisabled"
              (click)="sensorlistJqxgridComponent.islistBoxVisible = !sensorlistJqxgridComponent.islistBoxVisible"
              appButtonSimpleStyle
      >
        <i class="material-icons">filter_none</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="isFilter_list">
    <jqxTooltip [position]="'bottom'" [name]="'filterTooltip'"
                [content]="'Открыть фильтр'">
      <button [disabled]="isFilter_listBtnDisabled"
              (click)="isFilterVisible = !isFilterVisible"
              appButtonSimpleStyle
              [ngClass]="{'active':isFilterVisible}"
      >
        <i class="material-icons">filter_list</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="isPlace">
    <jqxTooltip [position]="'bottom'" [name]="'placeTooltip'"
                [content]="'Привязать датчик к узлу/столбу'">
      <button [disabled]="isPlaceBtnDisabled"
              (click)="place()"
              appButtonSimpleStyle
      >
        <i class="small material-icons">place</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="isPin_drop">
    <jqxTooltip [position]="'bottom'" [name]="'pin_dropTooltip'"
                [content]="'Отвязать датчик от узла/столба'">
      <button [disabled]="isPin_dropBtnDisabled"
              (click)="pin_drop()"
              appButtonSimpleStyle
      >
        <i class="small material-icons">pin_drop</i>
      </button>
    </jqxTooltip>
  </div>

</div>

<app-filter-table
  *ngIf="isFilterVisible"
  [sourceForFilter]="sourceForFilter"
  (onFilter)="applyFilterFromFilter($event)"
  (onInitSourceFilter)="initSourceFilter()"
></app-filter-table>

<div *ngIf="!reloading; else reloadingBlock">
  <!--*ngIf="fixtures.length > 0; else empty"-->
  <div>
    <app-sensorlist-jqxgrid #sensorlistJqxgridComponent
                            [sensors]="sensors"
                            [geographs]="geographs"
                            [ownerSensors]="ownerSensors"
                            [sensorTypes]="sensorTypes"
                            [contractSensors]="contractSensors"

                            [selectNodeId]="selectNodeId"

                            [heightGrid]="heightGrid"
                            [selectionmode]="selectionmode"
                            [isMasterGrid]="isMasterGrid"

                            (onRefreshGrid)="refreshGrid()"
                            (onRefreshChildGrid)="refreshChildGrid($event)"
    ></app-sensorlist-jqxgrid>
    <div
      class="center mb2"
      *ngIf="!noMoreFixtures; else "
    >
      <!--<button-->
      <!--class="btn waves-effect grey darken-1 btn-small"-->
      <!--(click)="loadMore()"-->
      <!--*ngIf="!loading; else loader"-->
      <!--&gt;-->
      <!--Загрузить еще-->
      <!--</button>-->
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
  <ng-template #empty>
    <div class="center">Датчиков пока нет</div>
  </ng-template>
</div>

<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>

