<div id="node_yamaps"></div>


<app-link-form #linkWindow
               [sourceForLinkForm]="sourceForLinkForm"
               (onGetSourceForLinkForm)="getSourceForLinkForm()"
               (onSaveLinkwinBtn)="saveLinkwinBtn($event)"
></app-link-form>

<app-event-window #eventWindow
                  [warning]="warningEventWindow"
                  (onOkEvenwinBtn)="okEvenwinBtn()"
></app-event-window>

<!--<app-nodelink-form #linkWindow-->
<!--                   [columns]="nodeColumns"-->
<!--                   [selectGatewayId]="selectGatewayId"-->

<!--                   (onSaveLinkwinBtn)="saveLinkwinBtn()"-->
<!--&gt;</app-nodelink-form>-->
