/*Angular Material Theme*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import '@angular/material/prebuilt-themes/indigo-pink.css';*/
/*@import '@angular/material/prebuilt-themes/pink-bluegrey.css';*/
/*@import '@angular/material/prebuilt-themes/purple-green.css';*/

/*jqwidgets Theme*/
/*@import "~jqwidgets-scripts/jqwidgets/styles/jqx.base.css";*/
/*@import "~jqwidgets-scripts/jqwidgets/styles/jqx.ui-lightness.css";*/
/*@import "~jqwidgets-scripts/jqwidgets/styles/jqx.ui-sunny.css";*/

/*Materialize Theme*/
@import "~materialize-css/dist/css/materialize.min.css";
@import "theme/styles.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Main Tab */
/*.mat-tab-header {*/
/*  height: 38px;*/
/*}*/

.mat-tooltip.tooltip {
  /*background-color: #283593;*/
  font-size: 14px;
}
