<div *ngIf="siteMap[0].children[2].disabled === false; else notRightComponent">
  <mat-tab-group #matTabGroup [selectedIndex]="0">
    <mat-tab label="{{'site.menu.operator.gateway-page.gateway-page' | translate}}">
      <div [style.width]="tabsWidth + '%'">
        <app-gateway-masterdetails-page #gatewayMasterdetailsPageComponent
                                        [siteMap]="siteMap"
                                        [ownerGateways]="ownerGateways"
                                        [gatewayTypes]="gatewayTypes"
                                        [contractGateways]="contractGateways"
                                        [ownerNodes]="ownerNodes"
                                        [nodeTypes]="nodeTypes"
                                        [contractNodes]="contractNodes"
                                        (onRefreshMap)="refreshMap()"
        ></app-gateway-masterdetails-page>
      </div>
    </mat-tab>
    <mat-tab label="{{'site.menu.operator.gateway-page.gatewaymap-page.gatewaymap-page' | translate}}">
      <ng-template matTabContent>
        <app-gatewaymap-page #gatewaymapPageComponent
                             [siteMap]="siteMap"
                             [ownerGateways]="ownerGateways"
                             [gatewayTypes]="gatewayTypes"
                             [contractGateways]="contractGateways"
                             (onRefreshGrid)="refreshGrid()"
        ></app-gatewaymap-page>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #notRightComponent>
  <app-not-right
    [message]="translate.instant('site.menu.operator.gateway-page.gateway-page')"
  >
  </app-not-right>
</ng-template>
