<div class="fr">

  <div *ngIf="isAdd">
    <jqxTooltip [position]="'bottom'" [name]="'addTooltip'"
                [content]="'Добавить интернет-шлюз'">
      <Button [disabled]="isAddBtnDisabled"
              (click)="ins()"
              appButtonSimpleStyle
      >
        <i class="material-icons">add</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="isUpdate">
    <jqxTooltip [position]="'bottom'" [name]="'updTooltip'"
                [content]="'Редактировать интернет-шлюз'">
      <Button [disabled]="isEditBtnDisabled"
              (click)="upd()"
              appButtonSimpleStyle
      >
        <i class="material-icons">edit</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="isDelete">
    <jqxTooltip [position]="'bottom'" [name]="'delTooltip'"
                [content]="'Удалить интернет-шлюз'">
      <Button [disabled]="isDeleteBtnDisabled"
              (click)="del()"
              appButtonSimpleStyle
      >
        <i class="material-icons">delete</i>
      </Button>
    </jqxTooltip>
  </div>

  <div *ngIf="isRefresh">
    <jqxTooltip [position]="'bottom'" [name]="'refreshTooltip'"
                [content]="'Обновить таблицу'">
      <button [disabled]="isRefreshBtnDisabled"
              (click)="refreshGrid()"
              appButtonSimpleStyle
      >
        <i class="small material-icons">refresh</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="isFilter_none">
    <jqxTooltip [position]="'bottom'" [name]="'fieldTooltip'"
                [content]="'Открыть фильтр по полям таблицы'">
      <button [disabled]="isFilter_noneBtnDisabled"
              (click)="gatewaylistJqxgridComponent.islistBoxVisible = !gatewaylistJqxgridComponent.islistBoxVisible"
              appButtonSimpleStyle
      >
        <i class="material-icons">filter_none</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="isFilter_list">
    <jqxTooltip [position]="'bottom'" [name]="'filterTooltip'"
                [content]="'Открыть фильтр'">
      <button [disabled]="isFilter_listBtnDisabled"
              (click)="isFilterVisible = !isFilterVisible"
              appButtonSimpleStyle
              [ngClass]="{
      'active':isFilterVisible
    }"
      >
        <i class="material-icons">filter_list</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="isPlace">
    <jqxTooltip [position]="'bottom'" [name]="'placeTooltip'"
                [content]="'Привязать шлюз к узлу/столбу'">
      <button [disabled]="isPlaceBtnDisabled"
              (click)="place()"
              appButtonSimpleStyle
      >
        <i class="small material-icons">place</i>
      </button>
    </jqxTooltip>
  </div>

  <div *ngIf="isPin_drop">
    <jqxTooltip [position]="'bottom'" [name]="'pin_dropTooltip'"
                [content]="'Отвязать шлюз от узла/столба'">
      <button [disabled]="isPin_dropBtnDisabled"
              (click)="pin_drop()"
              appButtonSimpleStyle
      >
        <i class="small material-icons">pin_drop</i>
      </button>
    </jqxTooltip>
  </div>

</div>

<app-gatewaylist-filter
  *ngIf="isFilterVisible"
  (onFilter)="applyFilter($event)"
  [geographs]="geographs"
  [ownerGateways]="ownerGateways"
  [gatewayTypes]="gatewayTypes"
></app-gatewaylist-filter>

<div *ngIf="!reloading; else reloadingBlock">
  <!--*ngIf="nodes.length > 0; else empty"-->
  <div>
    <app-gatewaylist-jqxgrid #gatewaylistJqxgridComponent
                             [gateways]="gateways"
                             [geographs]="geographs"
                             [ownerGateways]="ownerGateways"
                             [gatewayTypes]="gatewayTypes"
                             [contractGateways]="contractGateways"

                             [heightGrid]="heightGrid"
                             [selectionmode]="selectionmode"
                             [selectNodeId]="selectNodeId"
                             [isMasterGrid]="isMasterGrid"

                             (onRefreshGrid)="refreshGrid()"
                             (onRefreshChildGrid)="refreshChildGrid($event)"
    ></app-gatewaylist-jqxgrid>
    <div
      class="center mb2"
      *ngIf="!noMoreNodes; else "
    >
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
  <ng-template #empty>
    <div class="center">Узлов пока нет</div>
  </ng-template>
</div>

<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>
