<div *ngIf="siteMap[0].children[1].children[1].disabled === false; else notRightComponent">
  <div id="node_yamaps"></div>

  <app-edit-form #editForm
                 *ngIf="isEditFormInit"
                 [settingWinForEditForm]="settingWinForEditForm"
                 [sourceForEditForm]="sourceForEditForm"
                 (onGetSourceForEditForm)="getSourceForEditForm()"
                 (onDestroyEditForm)="destroyEditForm()"
                 (onSaveEditFormBtn)="saveEditFormBtn()"
  ></app-edit-form>

  <app-event-window #eventWindow
                    [warning]="warningEventWindow"
                    (onOkEvenwinBtn)="okEvenwinBtn()"
  ></app-event-window>
</div>

<ng-template #notRightComponent>
  <app-not-right
    [message]="translate.instant('site.menu.operator.node-page.nodemap-page.nodemap-page')"
  >
  </app-not-right>
</ng-template>
